body
  overflow: auto
  color: $color-gray
  font-size: 18px

  .project-details
    margin-top: 86px

    .project-details-inner
      h1
        margin-bottom: 4px

      h3
        font-weight: $font-weight-light
        line-height: 31px

        span
          display: block

  .img
    overflow: auto

    img
      width: 100%

  .bulleted-list,
  .numbered-list
    font-weight: $font-weight-light
    color: $color-gray
    line-height: 31px
    font-size: 20px

  p.quote
    font-size: 32px
    text-align: center
    font-weight: $font-weight-semi-bold

  hr
    &.timeline-hr
      border: 0.5px solid $color-french-gray
      position: absolute
      width: 100%
      top: 15px

.timeline
  position: relative
  margin-top: 58px
  border-bottom: 1px solid black

  .timeline-item
    position: relative
    display: inline-block
    margin-right: 36px

    .timeline-number
      display: inline-block
      font-weight: $font-weight-semi-bold

    .timeline-header
      height: 324px
      margin-top: 4px

      .timeline-header-text
        position: absolute
        bottom: -21px
        width: 300px
        text-align: right
        transform: rotate(-90deg)
        transform-origin: top left