body
  overflow: auto
  color: $color-gray
  font-size: 18px

  .container
    padding-left: 0
    padding-right: 0

  .project-details
    margin-top: 86px

    .project-details-inner
      h1
        margin-bottom: 4px

      h3
        font-weight: $font-weight-light
        line-height: 31px

        span
          display: block

  .bulleted-list,
  .numbered-list
    font-weight: $font-weight-light
    color: $color-gray
    line-height: 31px
    font-size: 20px

  p.quote
    font-size: 32px
    text-align: center
    font-weight: $font-weight-semi-bold

  hr
    &.timeline-hr
      border: 0.5px solid $color-french-gray
      position: absolute
      width: 100%
      top: 15px

.timeline
  position: relative
  margin-top: 58px

  .timeline-item
    position: relative
    display: inline-block
    margin-right: 42px

  .timeline-item:last-of-type
    margin-right: 0

  .timeline-number
    display: inline-block
    font-weight: $font-weight-semi-bold

  .timeline-header
    height: 324px
    margin-top: 4px

    .timeline-header-text
      position: absolute
      bottom: -21px
      width: 300px
      text-align: right
      transform: rotate(-90deg)
      transform-origin: top left

.section
  padding-top: 110px
  padding-bottom: 130px

.section-header
  margin-bottom: 44px

.first-section
  margin-top: 13px
  padding-bottom: 130px

.tldr
  border: 1px solid gray
  padding: 19px
  margin-top: 69px

.img
  text-align: center

.image-and-caption
  text-align: center

  .img
    display: inline-block
    overflow: auto

  .caption
    font-size: 14px
    color: $color-tundora
    margin-top: 14px
    text-align: left

.image-and-text-row
  .text
    padding-right: 34px

    p:first-of-type
      margin-bottom: 26px

.bullets
  padding-left: 30px

.two-col-p
  margin-top: 45px
  column-count: 2
  column-gap: 30px