.Case-Study
  h3
    margin-left: 20px

    +media-xs
      margin-left: 0px

.case-study-hero
  height: 215px
  background-position: center
  background-size: cover

  +media-sm
    height: 479px

  h3    
    color: $color-mortar

.case-study-header
  padding: 30px 0px

  h3    
    color: $color-mortar      

    span
      font-weight: $font-weight-regular

.case-study-about
  padding-top: 101px
  padding-bottom: 150px

  h3
    margin-bottom: 55px

  .overview-paragraph
    font-size: 22px
    color: $color-dove-gray    

    +media-md
      +column-count(2)
      +column-span(5)
      +column-gap(40px)

.user-personas
  padding-top: 100px
  padding-bottom: 132px

  h3
    +media-xs
      margin-left: 20px

  .container
    +media-xs
      margin: 0

  .personas
    position: relative
    overflow: auto
    +display(flex)

    +media-xs
      +align-items(center)
      +justify-content(space-around)

    +media-md
      display: block

    a
      position: relative
      display: block
      overflow: auto

  .personas-and-text
    margin-top: 75px

    .persona-link-wrapper
      width: 50%

      +media-md
        width: initial  

      img
        float: right

        +media-xs
          max-width: 150px 
          
        +media-sm
          float: left

    .persona-link-wrapper:last-of-type
      img
        float: left
        
        +media-sm
          float: right

  .persona-type-and-arrow
    position: absolute    
    top: 50%
    +transform(translateY(-50%))
    width: 150px

    +media-xs
      display: none

    +media-sm
      display: initial

    img
      vertical-align: middle

    h4
      display: inline-block
      font-size: 22px
      font-weight: $font-weight-semi-bold
      line-height: 27px
      color: $color-mortar

      &:visited
        color: $color-mortar

    &.primary
      right: 0

      img
        position: absolute
        top: 50%
        transform: translateY(-50%)

        +media-sm
          left: 5px

        +media-lg
          left: -21px

      h4

        +media-sm
          padding-left: 35px

        +media-lg
          padding-left: 10px

    &.secondary
      left: 0

      img
        position: absolute
        top: 50%
        transform: translateY(-50%)

        +media-sm
          right: 0px

        +media-lg
          right: -21px

      h4        
        +media-sm
          padding-right: 35px

        +media-md
          text-align: right

        +media-lg
          padding-right: 10px

  .persona-text
    margin-top: 42px
    padding: 0 20px

    +media-sm
      margin-top: 0
      padding: 0

    p:nth-of-type(2)
      margin-top: 20px

.testing
  padding-top: 100px
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50)

  h3
    margin-bottom: 42px

    +media-sm
      margin-bottom: 69px

  .testing-text
    margin-bottom: 50px
    
    +media-sm
      margin-bottom: 0px

  p:nth-of-type(2)
    margin-top: 20px

.script-img-wrapper,
.feedback-img-wrapper
  display: block
  position: relative
  margin-bottom: -20px
  
  +media-sm-only
    width: 60%
    margin: 0 auto
    margin-top: 50px

  &:hover .img-filter
    +media-sm
      opacity: 1

  img
    position: relative
    width: 100%    

.img-filter
  position: absolute
  display: block
  top: 0
  left: 0
  height: 100%
  width: 100%  
  opacity: 1  
  background: rgba(255, 255, 255, 0.5)
  +transition

  +media-sm 
    background: rgba(0, 0, 0, 0.4)   
    opacity: 0

  h2
    position: absolute
    top: 50%
    left: 50%
    width: 100%
    text-align: center
    +transform(translate(-50%))
    font-weight: $font-weight-semi-bold
    color: $color-mortar

    +media-sm
      color: white

.testing-video
  position: relative
  z-index: 10 

  +media-sm
    padding: 180px 0 

.video-wrapper
  position: relative
  padding-top: 63%

  +media-sm
    padding-top: 41%

.video-wrapper iframe,
.video-wrapper object,
.video-wrapper embed
  position: absolute
  top: 0 
  left: 0
  width: 100%
  height: 100%

.user-feedback
  overflow: hidden
  padding-top: 104px

.feedback-text-and-img
  margin-top: 49px

.feedback-text
  margin-bottom: 50px

  +media-sm
    margin-bottom: 0px

.user-feedback-list
  font-size: 19px
  color: $color-dove-gray
  margin-top: 24px

  li
    margin-top: 10px

.iteration
  padding-top: 102px
  padding-bottom: 149px
  z-index: 10

  h3
    margin-bottom: 97px

  #iteration-slider
    position: relative

    img
      width: 100%

  .unslider-nav
    position: absolute
    bottom: 0
    left: 50%
    +transform(translate(-50%))

  .unslider-nav ol li 
    height: 10px
    width: 10px  

  .unslider-arrow
    display: none

.wireframes
  text-align: center
  padding-top: 150px
  padding-bottom: 182px

  +media-sm
    text-align: initial

  h3
    text-align: left
    margin-bottom: 117px

  .wireframe-images    
    img
      width: 47%
      margin-top: 40px

      +media-sm
        width: 100%
        margin-top: 40px

  .trigger-div
    cursor: pointer

.modal
  display: none
  position: fixed
  z-index: 99
  left: 0
  top: 0
  width: 100%
  height: 100%
  overflow: auto
  background-color: rgb(0,0,0)
  background-color: rgba(0,0,0,0.4)

.modal-content
  position: absolute  
  top: 8%
  left: 50%
  +transform(translate(-50%))

  +media-xs
    top: 20%
    width: 80%    

  +media-sm
    width: 700px

  .close
    position: absolute
    right: 0

.modal-body
  height: 100vh

  img
    width: 100%
    height: auto    


.see-wf-in-action
  padding-top: 158px
  padding-bottom: 176px

  p
    font-size: 26px
    margin-bottom: 42px