.home
  nav.main-nav
    background-color: white

  .h1-projects
    display: block
    font-family: $font-weight-light
    font-size: 18px
    color: $color-tundora

  .project-detail
    h2
      font-size: 18px
      color: $color-tundora
      font-weight: $font-weight-semi-bold

.project-list
  display: none

.bg-video-wrapper
  position: relative
  display: flex
  margin-top: 123px
  flex-direction: column

  +media-xs-only
    margin-top: 67px

  +media-md
    flex-direction: row
    top: 100%

  video
    z-index: 10
    align-self: flex-start

  .video-text
    position: absolute
    z-index: 20
    width: 100%
    top: 100%
    left: 0
    padding: 0 15px
    text-align: center

    +media-lg
      width: 30%
      align-self: center
      right: 40px
      top: initial
      left: inherit
      text-align: left

    .hi
      display: block
      margin-bottom: -20px
      font-size: 24px
      font-weight: $font-weight-semi-bold      

      +media-md
        font-size: 36px

    p
      font-weight: $font-weight-light
      color: black
      text-align: left
      white-space: pre-line


    .cta-btn
      text-align: center
      margin-top: 50px
      margin-bottom: 50px

      +media-xs-only
        width: 100%
        margin-bottom: 60px

      +media-lg
        margin-top: 35px
        