.home
  nav.main-nav
    background-color: white

  .hero
    position: relative
    margin-top: 123px

    +media-xs-only
      margin-top: 67px

    .hero-bg
      background-image: url(image_path('still-hero.jpg'))
      background-size: cover
      background-repeat: no-repeat
      background-position: top center
      height: 400px
      
      +media-xs-only
        height: 200px

      +media-md
        background-image: none

      +media-lg
        height: 700px
      
  .hero-text
    +media-md
      margin: 0
      background-color: white
      width: 100%

    .hero-text-inner
      padding: 30px 20px
      text-align: center

    .hi
      font-size: 24px
      font-weight: $font-weight-semi-bold

      +media-md
        font-size: 36px

    p
      font-weight: $font-weight-light
      color: $color-dune
      text-align: left
      white-space: pre-line


    .cta-btn
      margin-top: 50px
      margin-bottom: 50px

      +media-xs-only
        margin-bottom: 20px

  .h1-projects
    display: block
    font-family: $font-weight-light
    font-size: 18px
    color: $color-tundora

  .project-detail
    h2
      font-size: 18px
      color: $color-tundora
      font-weight: $font-weight-semi-bold

.project-list
  display: none


.video-background
  display: none
  background: white
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  z-index: -99

  +media-md
    display: block

.video-foreground, 
.video-background iframe
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  pointer-events: none

@media (min-aspect-ratio: 16 / 9)
  .video-foreground
    height: 300%
    top: -100%

@media (max-aspect-ratio: 16 / 9)
  .video-foreground
    width: 300%
    left: -100%
