.intro-paragraph
  white-space: pre-wrap

.home-hero
  font-size: 25px
  color: #404040
  letter-spacing: 0px
  height: 589px
  background-size: cover
  background-position: center
  padding-top: 154px

  .home-hero-text
    width: 100%

    +media-sm
      width: 587px

    h1
      font-size: 40px
      line-height: 1.2
      color: white
      font-weight: $font-weight-bold

      +media-sm
        font-size: 46px
        line-height: inherit
        

      span
        color: $color-turbo

.hard-to-explain
  padding-top: 111px
  padding-bottom: 111px

  .personal-pic
    text-align: center

    +media-sm
      margin-top: 39px
      text-align: left

    +media-lg
      margin-top: 0

    img
      width: 200px

      +media-sm
        width: 100%

  .my-quote
    margin-top: 40px 

    +media-sm   
      margin-top: 0   
      padding-right: 11%

    +media-md
      margin-top: 49px

    +media-lg
      margin-top: 63px

.good-ux-designer
  padding-top: 100px  
  padding-bottom: 114px

  h2  
    margin-bottom: 40px

    +media-sm
      margin-bottom: 0

  .trait-explaination-list
    font-size: 19px
    color: $color-dove-gray
    margin-top: 24px

    +media-sm-only
      padding-left: 20px
      font-size: 18px

  .single-trait
    padding-top: 40px

    +media-sm
      padding-top: 80px

    &.right-trait
      padding-left: 0

      +media-sm
        padding-left: 40px

.get-in-touch
  padding-top: 121px
  padding-bottom: 156px
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50)

  p
    width: 100%
    margin: 0 auto
    margin-top: 10px

    +media-sm
      width: 337px

  .btn-wrapper
    margin-top: 55px

    a
      +media-xs
        display: block

    a:first-of-type
      margin-bottom: 30px 

      +media-sm
        margin-right: 21px
        margin-bottom: 0px