.sw-project-bg
  p
    margin-top: 20px

    &:first-of-type
      margin-top: 0

.sw-research
  .current-state
    margin: 40px 0

    +media-md
      margin-top: 87px
      margin-bottom: 89px

    .img:nth-of-type(2)
      +media-xs-only
        margin: 60px 0

      +media-sm
        margin: 0

  .image-and-text-row
    margin-top: 58px

  .text
    margin-top: 40px
    padding: 0

    +media-md
      margin-top: 0
      padding-left: 38px
      padding-right: 0

  .caption
    +media-xs-only
      padding: 0 15px

.sw-testing-ta
  .four-takeaways
    +media-md
      padding-left: 24px

  .one-takeaway
    text-align: center

    +media-lg
      text-align: left

    img
      margin: 0 auto

      +media-lg
        float: left
        margin-right: 36px

  .takeaway-text
    margin-top: 20px

    +media-lg
      margin-top: 0

    h3
      margin-bottom: 7px 

      +media-lg
        display: block
        margin-bottom: 0

    p
      display: inline-block
      max-width: 315px
      margin-bottom: 40px

      +media-sm
        text-align: left

      +media-lg
        margin-bottom: 0

  .second-takeaway-set
    +media-lg
      margin-top: 62px

  .takeaways-p
    +media-sm
      margin-top: 20px

    +media-lg
      margin-top: 59px

.sw-user-interviews
  .shift-life-cycle
    +media-xs
      display: none

    +media-md
      display: block

  .cycle-image
    margin-top: 82px

    img
      width: 100%

.sw-interview-takeaways
  .section-header
    margin-bottom: 40px
    
    +media-md
      margin-bottom: 76px

  .image-and-caption
    margin-bottom: 50px

    +media-md
      margin-bottom: 84px

  .header-inner
    display: flex
    align-items: center

    img
      height: 30px
      margin-right: 14px

      +media-md
        height: initial

    img,
    h2
      display: inline-block

  .interview-ta-hr
    border: 1px solid $color-french-gray
    margin: 24px 0

    +media-md
      margin-top: 33px
      margin-bottom: 30px

  .mgmt-takeaways,
  .shedwool-takeaways
    .paragraph-and-bullets
      margin: 0

      +media-md
        margin: 0 15px

    p
      padding: 0

      +media-md
        padding: inherit

    .bulleted-list
      padding: inherit
      margin-top: 24px

      +media-md
        padding-left: 0
        margin-top: 0

  .employee-takeaways
    margin: 43px 0

.sw-focus-on-employees
  text-align: center
  padding: 66px 0

  .container
    +media-xs-only
      padding: 0 15px

  h2
    margin-bottom: 24px    

.sw-beginning-to-ideate
  .bullets
    padding-left: 46px

  .image-and-text-row
    .text
      margin-bottom: 40px

      +media-md
        margin-bottom: 0

  .concept-row
    margin: 40px 0

    +media-md
      margin: 87px 0

  .round-one,
  .round-two,
  .round-three
    h2
      margin-bottom: 36px

    .bulleted-list
      +media-xs-only
        padding-left: 30px

    .bullets
      padding: 0

      +media-md
        padding: initial

    .image-and-caption
      .img:nth-of-type(2)
        +media-xs-only
          margin: 60px 0
  
  .round-one
    margin-top: 40px

    +media-md
      margin-top: 110px

  .icon-takeaway
    text-align: center

    +media-xs-only
      margin-bottom: 40px

    &:last-of-type
      margin-bottom: 0

    h3
      margin-top: 10px
      margin-bottom: 14px

    p
      text-align: center

      +media-md
        text-align: left
        max-width: 243px

  hr
    width: 479px
    border: 1px solid $color-dusty-gray
    margin: 0  

  .round-two
    position: relative
    margin: 60px 0
    padding: 60px 0

    +media-md
      margin-top: 127px
      margin-bottom: 111px
      padding-top: 108px
      padding-bottom: 103px


    hr
      position: absolute
      left: 50%
      transform: translateX(-50%)

      +media-xs-only
        display: none      

      &.r2-hr-top
        top: 0

      &.r2-hr-bottom
        bottom: 0
        
  .round-three
    .hr-takeaway-divider
      margin: 24px 0

      +media-xs-only
        width: 100%
        border-color: white

      +media-sm
        margin: 40px auto

      +media-md
        margin: 47px auto

.sw-main-takeaways
  h2
    margin-bottom: 40px

    +media-md
      margin-bottom: 57px

  span
    +media-xs-only
      display: block

  .bulleted-list
    margin-bottom: 0px

    +media-md
      margin-bottom: initial

.sw-final-design
  .final-design-text    
    p
      margin-bottom: 20px

      +media-md
        padding-right: 24px

      &:last-of-type
        margin-top: 42px

  .final-design-video
    text-align: center
    margin-top: 40px

    +media-md
      margin-top: 0

    .caption
      text-align: center

  .improvements
    margin-top: 60px
    display: flex
    max-width: 100%
    justify-content: space-around

    +media-xs-only
      flex-direction: column
      margin-top: 42px

    +media-lg
      max-width: 499px
      justify-content: space-between    

    img
      +media-xs-only
        margin: 30px 0      

  .improvement
    text-align: center

    h2
      font-weight: $font-weight-light

    span
      display: block
      color: $color-tundora

    .percentage
      font-size: 48px
      font-weight: $font-weight-regular
      margin-top: 10px
      margin-bottom: 5px      

    .faster
      font-size: 20px

.sw-moving-forward
  .bulleted-list
    margin-top: 20px

    +media-md
      margin-top: 0

.sw-final-reflection
  p:first-of-type
    margin-bottom: 20px