.ss-the-challenge
  .city-site-current
    margin-top: 59px

.ss-the-problem
  .section-header
    span
      +media-xs-only
        display: block

  .checkbook-sites
    margin-top: 67px
    margin-bottom: 53px

    .image-and-caption:first-of-type
      margin-bottom: 60px

      +media-md
        margin-bottom: 0

  .office-of-budget
    margin: 40px 0

    +media-md
      margin-top: 72px
      margin-bottom: 98px

  .where-was-the-data
    p
      margin: 11px 0

    .numbered-list
      font-size: 18px
      margin-bottom: 59px

      +media-xs-only
        margin-top: 20px
        margin-bottom: 40px

      +media-sm
        font-size: 20px
  
  .city-spreadsheet
    margin-top: 40px

    +media-md
      margin-top: 86px

  .leading-to-problem
    margin-top: 40px

    +media-md
      margin-top: 59px

    p
      margin-bottom: 20px

    .quote
      margin-top: 42px
      margin-bottom: 58px

      +media-xs-only
        margin: 40px 0

.ss-forming-concepts
  .concept-test-group
    margin: 60px 0

    +media-md
      margin: 83px 0

    +media-xs-only
      display: none

.ss-paper-prototyping
  .paper-prototype-1,
  .paper-prototype-2,
  .paper-prototype-3
    +media-xs-only
      display: flex
      flex-direction: column-reverse
      margin-top: 40px

    h2
      margin-bottom: 18px

    p
      margin: 0
    
    .prototype-imgs
      margin: 40px 0

      +media-md
        margin-top: 87px
        margin-bottom: 59px

    .img:nth-of-type(2)
      +media-xs-only
        margin: 60px 0


.ss-insight,
.ss-forming-concepts,
.ss-refining,
.ss-improving,
.ss-learned
  p
    margin-bottom: 20px

  p:last-of-type
    margin-bottom: 0

.ss-refining
  .refined-prototype
    margin: 40px 0

    +media-md
      margin: 83px 0

    img
      width: 100%
      border: 1px solid $color-alto

  .refined
    text-align: center

  .refined-library
    margin-top: 60px

    +media-sm
      margin-top: 0

.ss-improving
  .first-prototype
    margin: 60px 0

    +media-md
      margin-top: 83px
      margin-bottom: 96px

  .final-prototype-results
    font-family: AvenirNext-DemiBold
    font-size: 16px
    color: $color-tundora
    margin: 40px 0

    +media-xs-only
      padding-left: 15px

    +media-md
      max-width: 85%
      font-size: 20px
      margin-top: 38px
      margin: 0 auto
      margin-bottom: 47px