---
title: "table-xi-intro"
tableInner: "mockup"
---
.container
  .intro-links    
    = link_to "HTML & CSS Flow", 'Table-XI/floor.html', {target: 'blank'}
    = link_to "Intro", 'Table-XI/intro.html'
    = link_to "Maria Faulisi's Portfolio", 'index.html'

  .mockup
    =image_tag "wf-full/review-cart-page.jpg"