%footer
  .footer-inner.container
    .footer-left
      =link_to "LinkedIn", "https://www.linkedin.com/in/mariafaulisi/", :target => "_blank"
      =link_to "Github", "https://github.com/maria-faulisi/", :target => "_blank"