%nav.container
  .name-of-site
    %h2.nav-name
      Maria Faulisi - UX Architect

  %ul.nav-link-wrapper
    %li.nav-link
      = link_to "home", "/index.html"
    %li.nav-link 
      = link_to "case study", "/case-study.html", relative: true