%nav.main-nav.bg-gray
  .nav-inner
    .name-of-site
      = link_to  "/index.html" do
        %h2.nav-name
          Maria Faulisi 
          %span.title 
            | UX Designer
          %span.phonetics
            Fah-lee-see

    .navigation
      .hamburger-wrapper
        %ul
          %li.hamburger-line
          %li.hamburger-line
          %li.hamburger-line
      .link-container
        %ul.nav-link-wrapper
          %li.nav-link
            %a Projects
          %li.nav-link{class: "#{'active' if current_page.url == '/case-study.html'}"}
            = link_to "contact", "/case-study.html", relative: true
            