body {
  font-family: "Nunito Sans", sans-serif;
  color: #4A4A4A; }

h1,
h2,
h3,
h4,
p,
a {
  font-weight: 300;
  margin: 0;
  padding: 0;
  color: #858585; }

h1 {
  font-size: 24px;
  color: #4A4A4A; }
  @media (min-width: 992px) {
    h1 {
      font-size: 32px; } }

h2 {
  font-size: 20px; }
  @media (min-width: 992px) {
    h2 {
      font-size: 24px; } }
  h2.h2-bold {
    font-weight: 600; }
  h2.h2-tldr {
    font-size: 20px;
    font-weight: 600; }

h3 {
  font-size: 18px; }
  @media (min-width: 992px) {
    h3 {
      font-size: 20px; } }
  h3.h3-bold {
    font-weight: 600; }

p {
  font-size: 18px;
  line-height: 31px;
  font-weight: 200;
  max-width: 870px;
  margin: 0 auto; }
  @media (min-width: 992px) {
    p {
      font-size: 20px;
      line-height: 1.5; } }

.bg-gray p,
.bg-gray li {
  color: #4A4A4A; }

p,
a {
  padding: 0; }

a {
  font-size: 20px;
  text-decoration: none; }
  a:hover {
    text-decoration: none;
    color: inherit; }

.text-center {
  text-align: center; }

.left {
  float: left; }

.right {
  float: right; }

.uppercase {
  text-transform: uppercase; }

.bold {
  font-weight: 800; }

.semi-bold {
  font-weight: 600; }

.regular {
  font-weight: 300; }

.light {
  font-weight: 200; }

.bg-gray {
  background-color: #F8F8F8; }

nav.main-nav {
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
  padding: 32px 0px 43px 0px;
  box-shadow: 0px 2px 4px 0px rgba(236, 235, 235, 0.5);
  background-color: #DADADA; }
  @media (max-width: 575px) {
    nav.main-nav {
      position: fixed;
      top: 0;
      padding: 20px 0; } }

.nav-inner {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 37px; }

@media (max-width: 575px) {
  .name-of-site {
    position: relative;
    margin-left: 15px;
    z-index: 99; } }

.name-of-site,
.nav-link-wrapper,
.nav-link {
  display: inline-block; }
  .name-of-site .nav-name,
  .nav-link-wrapper .nav-name,
  .nav-link .nav-name {
    position: relative;
    color: #4A4A4A; }
  .name-of-site .title,
  .nav-link-wrapper .title,
  .nav-link .title {
    font-weight: 300; }
    @media (max-width: 575px) {
      .name-of-site .title,
      .nav-link-wrapper .title,
      .nav-link .title {
        display: none; } }
  .name-of-site .phonetics,
  .nav-link-wrapper .phonetics,
  .nav-link .phonetics {
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translateX(-100%);
    font-size: 14px;
    padding-right: 10px; }
    @media (max-width: 575px) {
      .name-of-site .phonetics,
      .nav-link-wrapper .phonetics,
      .nav-link .phonetics {
        display: none; } }

.navigation {
  display: inline-block;
  float: right; }
  @media (max-width: 575px) {
    .navigation {
      height: 103vh;
      width: 100vw;
      position: absolute;
      top: -32px;
      left: 100%;
      background-color: pink;
      transition-duration: 0.25s; }
      .navigation.mobile-show {
        left: 0; } }

.nav-link.mobile-nav-trigger {
  display: none; }
  @media (max-width: 575px) {
    .nav-link.mobile-nav-trigger {
      display: block;
      position: absolute;
      right: 0;
      top: -11px;
      z-index: 99;
      margin-left: 0; } }

.mobile-nav {
  display: none;
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -66%); }
  @media (max-width: 575px) {
    .mobile-nav {
      display: block; } }

@media (max-width: 575px) {
  .link-container {
    display: none; } }

.nav-link-wrapper {
  display: inline-block;
  float: right;
  padding: 0;
  margin: 0; }

.nav-link {
  position: relative;
  margin-left: 0;
  padding: 0;
  margin: 0.5em 1em; }
  @media (max-width: 575px) {
    .nav-link {
      display: block; } }
  @media (min-width: 992px) {
    .nav-link {
      margin-left: 45px; } }
  .nav-link.active {
    border-bottom: 3px solid white; }
    @media (max-width: 575px) {
      .nav-link.active {
        border: none; }
        .nav-link.active a {
          font-weight: 600; } }

.nav-link a {
  text-decoration: none;
  color: #4A4A4A;
  text-transform: capitalize; }

.dropdown-menu {
  padding: 0;
  background-color: #DADADA;
  border: none;
  border-radius: 0; }
  .dropdown-menu a {
    display: block;
    padding: 15px 20px; }
    .dropdown-menu a:hover {
      background-color: #F8F8F8; }

.home .dropdown-menu {
  background-color: white; }

footer {
  background-color: #DADADA;
  padding: 34px 0px; }
  @media (max-width: 575px) {
    footer {
      padding: 12px 0; } }
  footer .footer-inner.container {
    padding-left: 15px; }
  footer a {
    font-size: 20px;
    color: #4A4A4A;
    margin-right: 34px; }

.btn {
  font-size: 18px;
  display: inline-block; }

.cta-btn {
  display: inline-block;
  background: rgba(248, 248, 248, 0.35);
  border: 1px solid rgba(43, 40, 39, 0.72);
  font-size: 18px;
  color: rgba(43, 40, 39, 0.72);
  padding: 10px 33px;
  transition-duration: 0.25s; }
  .cta-btn:hover {
    background: #ebebeb; }

body {
  overflow: auto;
  color: #858585;
  font-size: 18px; }
  body .container {
    padding-left: 0;
    padding-right: 0; }
  body .project-details {
    margin-top: 186px; }
    @media (max-width: 575px) {
      body .project-details {
        margin-top: 110px; } }
    @media (min-width: 992px) {
      body .project-details {
        padding: 0; } }
    @media (min-width: 1200px) {
      body .project-details {
        margin-top: 207px; } }
    body .project-details .project-details-inner h1 {
      margin-bottom: 4px; }
    body .project-details .project-details-inner h3 {
      font-weight: 200;
      line-height: 31px; }
      body .project-details .project-details-inner h3 span {
        display: block; }
  body .bulleted-list,
  body .numbered-list {
    font-weight: 200;
    color: #858585;
    line-height: 31px; }
  body .numbered-list {
    font-size: 20px; }
  body .bulleted-list {
    font-size: 18px; }
    @media (min-width: 992px) {
      body .bulleted-list {
        font-size: 20px; } }
  body p.quote {
    font-size: 20px;
    text-align: center;
    font-weight: 600; }
    @media (min-width: 992px) {
      body p.quote {
        font-size: 32px; } }
  body hr.timeline-hr {
    border: 0.5px solid #C6C4C7;
    position: absolute;
    width: 100%;
    top: 15px; }

.timeline {
  display: none;
  position: relative;
  margin-top: 24px; }
  @media (min-width: 992px) {
    .timeline {
      display: flex; } }
  @media (min-width: 1200px) {
    .timeline {
      margin-top: 32px; } }
  .timeline .timeline-item {
    position: relative;
    display: inline-block;
    margin-right: 33px; }
    @media (min-width: 1200px) {
      .timeline .timeline-item {
        margin-right: 42px; } }
  .timeline .timeline-item:last-of-type {
    margin-right: 0; }
  .timeline .timeline-number {
    display: inline-block;
    font-weight: 600; }
  .timeline .timeline-header {
    height: 324px;
    margin-top: 4px; }
    .timeline .timeline-header .timeline-header-text {
      position: absolute;
      bottom: -21px;
      width: 300px;
      text-align: right;
      transform: rotate(-90deg);
      transform-origin: top left; }

.section {
  padding-top: 66px;
  padding-bottom: 64px; }
  @media (min-width: 992px) {
    .section {
      padding-top: 110px;
      padding-bottom: 130px; } }

.section-header {
  margin-bottom: 40px; }
  @media (min-width: 992px) {
    .section-header {
      margin-bottom: 44px; } }

.first-section {
  margin-top: 38px;
  padding-bottom: 64px; }
  @media (min-width: 992px) {
    .first-section {
      margin-top: 13px;
      padding-bottom: 130px; } }

.tldr {
  display: none;
  border: 1px solid gray;
  padding: 19px;
  margin-top: 69px; }
  @media (min-width: 992px) {
    .tldr {
      display: block; } }

.img {
  text-align: center; }
  .img img {
    width: 100%; }

.image-and-caption {
  text-align: center; }
  .image-and-caption .img {
    display: inline-block;
    overflow: auto; }

.caption {
  font-size: 14px;
  color: #4A4A4A;
  margin-top: 14px;
  text-align: left; }

@media (min-width: 992px) {
  .image-and-text-row .text {
    padding-right: 34px; } }
.image-and-text-row .text p:first-of-type {
  margin-bottom: 26px; }

.bullets {
  margin-top: 40px; }
  @media (min-width: 768px) {
    .bullets {
      margin-top: 0; } }
  @media (min-width: 992px) {
    .bullets {
      padding: 0 15px; } }
  @media (min-width: 1200px) {
    .bullets {
      padding-left: 30px; } }

.two-col-p {
  margin-top: 0px; }
  @media (min-width: 992px) {
    .two-col-p {
      margin-top: 45px;
      column-count: 2;
      column-gap: 30px; } }
  .two-col-p p:first-of-type {
    margin-bottom: 20px; }
    @media (min-width: 992px) {
      .two-col-p p:first-of-type {
        margin-bottom: 0; } }

.home nav.main-nav {
  background-color: white; }
.home .hero {
  position: relative;
  margin-top: 123px; }
  @media (max-width: 575px) {
    .home .hero {
      margin-top: 67px; } }
  .home .hero .hero-bg {
    background-image: url("../images/still-hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    height: 400px; }
    @media (max-width: 575px) {
      .home .hero .hero-bg {
        height: 200px; } }
    @media (min-width: 992px) {
      .home .hero .hero-bg {
        background-image: none; } }
    @media (min-width: 1200px) {
      .home .hero .hero-bg {
        height: 700px; } }
@media (min-width: 992px) {
  .home .hero-text {
    margin: 0;
    background-color: white;
    width: 100%; } }
.home .hero-text .hero-text-inner {
  padding: 30px 20px;
  text-align: center; }
.home .hero-text .hi {
  font-size: 24px;
  font-weight: 600; }
  @media (min-width: 992px) {
    .home .hero-text .hi {
      font-size: 36px; } }
.home .hero-text p {
  font-weight: 200;
  color: #2B2827;
  text-align: left;
  white-space: pre-line; }
.home .hero-text .cta-btn {
  margin-top: 50px;
  margin-bottom: 50px; }
  @media (max-width: 575px) {
    .home .hero-text .cta-btn {
      margin-bottom: 20px; } }
.home .h1-projects {
  display: block;
  font-family: 200;
  font-size: 18px;
  color: #4A4A4A; }
.home .project-detail h2 {
  font-size: 18px;
  color: #4A4A4A;
  font-weight: 600; }

.project-list {
  display: none; }

.video-background {
  display: none;
  background: white;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -99; }
  @media (min-width: 992px) {
    .video-background {
      display: block; } }

.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; }

@media (min-aspect-ratio: 16 / 9) {
  .video-foreground {
    height: 300%;
    top: -100%; } }
@media (max-aspect-ratio: 16 / 9) {
  .video-foreground {
    width: 300%;
    left: -100%; } }
.collaborate-biz .starting-research .collab-start {
  margin: 40px 0; }
  @media (min-width: 992px) {
    .collaborate-biz .starting-research .collab-start {
      margin-top: 81px;
      margin-bottom: 89px; } }
.collaborate-biz .sme-interviews .image-and-text-row {
  flex-direction: column-reverse; }
  @media (min-width: 992px) {
    .collaborate-biz .sme-interviews .image-and-text-row {
      flex-direction: row; } }
.collaborate-biz .sme-interviews .image-and-caption {
  margin-top: 20px;
  margin-bottom: 25px; }
  @media (min-width: 1200px) {
    .collaborate-biz .sme-interviews .image-and-caption {
      margin: 0; } }
.collaborate-biz .sme-takeaways .quote {
  margin-top: 30px; }
  @media (min-width: 992px) {
    .collaborate-biz .sme-takeaways .quote {
      margin-top: 61px; } }
.collaborate-biz .collab-competitors .image-and-caption {
  display: none;
  margin-top: 52px; }
  @media (min-width: 992px) {
    .collaborate-biz .collab-competitors .image-and-caption {
      display: block; } }
.collaborate-biz .hr-competitor {
  border: 1px solid #979797;
  width: 100%;
  margin: 15px 0; }
  @media (min-width: 992px) {
    .collaborate-biz .hr-competitor {
      margin: 28px 0px 30px 0px;
      width: 300px; } }
.collaborate-biz .competitor-ends {
  margin-top: 50px; }
  @media (min-width: 992px) {
    .collaborate-biz .competitor-ends {
      margin-top: 104px; } }
.collaborate-biz .head-inner {
  display: flex;
  align-items: center; }
  .collaborate-biz .head-inner img {
    height: 30px; }
    @media (min-width: 992px) {
      .collaborate-biz .head-inner img {
        height: initial; } }
  .collaborate-biz .head-inner h2 {
    display: inline-block;
    font-size: 20px;
    color: #4A4A4A;
    font-weight: 200;
    margin-left: 10px; }
    @media (min-width: 992px) {
      .collaborate-biz .head-inner h2 {
        margin-left: 7px;
        font-size: 24px; } }
.collaborate-biz .the-high-end {
  margin-bottom: 40px; }
  @media (min-width: 992px) {
    .collaborate-biz .the-high-end {
      margin-bottom: 0; } }
@media (max-width: 767px) {
  .collaborate-biz .bulleted-list {
    font-size: 18px;
    padding-right: 0; } }
@media (min-width: 992px) {
  .collaborate-biz .bulleted-list {
    padding-right: 30px; } }

.collab-users .two-col-p {
  column-gap: 44px; }
  .collab-users .two-col-p p:nth-of-type(2) {
    margin: 26px 0; }
.collab-users .pre-personas {
  margin-top: 20px; }
  @media (min-width: 992px) {
    .collab-users .pre-personas {
      margin-top: 78px; } }
.collab-users .personas {
  margin-top: 50px; }
  @media (min-width: 992px) {
    .collab-users .personas {
      margin-top: 78px; } }
.collab-users .persona {
  text-align: center; }
  .collab-users .persona img {
    width: 100%; }
    @media (min-width: 1200px) {
      .collab-users .persona img {
        width: initial; } }
.collab-users .type span {
  display: block;
  margin-top: 2px;
  margin-bottom: 18px;
  font-size: 20px; }
.collab-users .bullet-group {
  margin-top: 25px; }
  @media (min-width: 992px) {
    .collab-users .bullet-group {
      margin-top: 0; } }
.collab-users .bullets {
  text-align: left;
  margin-top: 30px; }
  @media (min-width: 992px) {
    .collab-users .bullets {
      margin-top: 18px; } }
  .collab-users .bullets li {
    list-style-type: circle; }
.collab-users .brett-wants,
.collab-users .pam-wants {
  padding: 0 15px; }
  @media (min-width: 992px) {
    .collab-users .brett-wants,
    .collab-users .pam-wants {
      padding: 0; } }
.collab-users .brett-wants {
  margin-top: 25px; }
  @media (min-width: 992px) {
    .collab-users .brett-wants {
      margin-top: 50px; } }
.collab-users .pam {
  margin-top: 50px; }
  @media (min-width: 768px) {
    .collab-users .pam {
      margin-top: 0; } }
.collab-users .pam-wants {
  margin-top: 25px; }
  @media (min-width: 992px) {
    .collab-users .pam-wants {
      margin-top: 40px; } }

.collab-problem .section-header {
  margin-bottom: 40px; }
  @media (min-width: 992px) {
    .collab-problem .section-header {
      margin-bottom: 79px; } }
.collab-problem p:first-of-type {
  margin-top: 40px; }
  @media (min-width: 992px) {
    .collab-problem p:first-of-type {
      margin-top: 89px; } }
.collab-problem p:last-of-type {
  margin-top: 29px; }

.collab-ideation .image-and-text-row {
  margin: 40px 0; }
@media (min-width: 992px) {
  .collab-ideation {
    margin-top: 67px; }
    .collab-ideation img {
      height: 330px; }
    .collab-ideation .image-and-bullets {
      padding: 0; } }
    @media (min-width: 992px) and (min-width: 992px) {
      .collab-ideation .image-and-bullets {
        padding: 0 15px; } }
@media (min-width: 992px) {
    .collab-ideation .text {
      padding: 0; } }
    @media (min-width: 992px) and (min-width: 992px) {
      .collab-ideation .text {
        padding: 0 15px;
        padding-left: 46px; } }

.collab-ideation .paragraph-and-bullets {
  margin-top: 40px; }
  @media (min-width: 992px) {
    .collab-ideation .paragraph-and-bullets {
      margin-top: 0; } }
  .collab-ideation .paragraph-and-bullets p {
    margin-bottom: 9px; }
.collab-ideation .strong-ideas {
  margin-top: 40px;
  text-align: center; }
  @media (min-width: 992px) {
    .collab-ideation .strong-ideas {
      margin-top: 47px; } }
.collab-ideation .strong-idea {
  margin-top: 40px; }
  @media (min-width: 992px) {
    .collab-ideation .strong-idea {
      margin-top: 0; } }
  .collab-ideation .strong-idea img {
    width: 62px;
    height: 62px; }
  .collab-ideation .strong-idea h3 {
    margin: 14px 0; }
  .collab-ideation .strong-idea p {
    padding: 0;
    text-align: left; }
    @media (min-width: 992px) {
      .collab-ideation .strong-idea p {
        padding: 0 21px; } }
@media (min-width: 992px) {
  .collab-ideation .second-idea-set {
    margin-top: 64px; } }

.collab-concept-testing .concept-and-image-right,
.collab-concept-testing .concept-and-image-left {
  margin-top: 60px;
  align-items: center; }
  @media (min-width: 992px) {
    .collab-concept-testing .concept-and-image-right,
    .collab-concept-testing .concept-and-image-left {
      margin-top: 90px; } }
  .collab-concept-testing .concept-and-image-right .img,
  .collab-concept-testing .concept-and-image-left .img {
    text-align: left; }
  .collab-concept-testing .concept-and-image-right h2,
  .collab-concept-testing .concept-and-image-left h2 {
    margin-bottom: 21px; }
  .collab-concept-testing .concept-and-image-right .image-and-caption,
  .collab-concept-testing .concept-and-image-left .image-and-caption {
    margin-top: 40px; }
    @media (min-width: 992px) {
      .collab-concept-testing .concept-and-image-right .image-and-caption,
      .collab-concept-testing .concept-and-image-left .image-and-caption {
        margin-top: 0; } }
@media (min-width: 992px) {
  .collab-concept-testing .concept-and-image-right:first-of-type {
    margin-top: 108px; } }
.collab-concept-testing .concept-and-image-left {
  flex-direction: column-reverse; }
  @media (min-width: 992px) {
    .collab-concept-testing .concept-and-image-left {
      flex-direction: row; } }

.collab-concept-takeaways {
  margin-top: 94px; }
  .collab-concept-takeaways .takeaway-header hr {
    margin: 15px 0;
    border: 1px solid #979797; }
    @media (min-width: 992px) {
      .collab-concept-takeaways .takeaway-header hr {
        margin-top: 30px;
        margin-bottom: 40px; } }
  .collab-concept-takeaways .numbered-list {
    padding: 0 15px;
    font-size: 18px; }
    @media (min-width: 992px) {
      .collab-concept-takeaways .numbered-list {
        padding: 0 35px 0 63px;
        font-size: 20px; } }
    .collab-concept-takeaways .numbered-list li {
      margin-bottom: 20px; }
    .collab-concept-takeaways .numbered-list li:last-of-type {
      margin-bottom: 0; }

@media (min-width: 992px) {
  .collab-referrals .section-header {
    margin-bottom: 62px; } }
.collab-referrals .image-and-caption {
  display: none; }
  @media (min-width: 768px) {
    .collab-referrals .image-and-caption {
      display: block;
      margin-top: 86px;
      margin-bottom: 60px; } }
.collab-referrals .recommendations {
  margin-top: 40px; }
  @media (min-width: 992px) {
    .collab-referrals .recommendations {
      margin-top: 75px; } }
  .collab-referrals .recommendations:last-of-type {
    margin-top: 0; }
    @media (min-width: 992px) {
      .collab-referrals .recommendations:last-of-type {
        margin-top: 58px;
        margin-bottom: 99px; } }
.collab-referrals .recommendation {
  text-align: center; }
  .collab-referrals .recommendation h3 {
    margin-bottom: 14px; }
  .collab-referrals .recommendation p {
    padding: 0;
    padding-bottom: 40px;
    text-align: left; }
    @media (min-width: 992px) {
      .collab-referrals .recommendation p {
        padding: 0 28px; } }
.collab-referrals p:last-of-type {
  margin-top: 20px; }

.no-ideas .image-and-caption {
  margin-top: 47px;
  margin-bottom: 52px;
  padding: 0; }
  @media (min-width: 992px) {
    .no-ideas .image-and-caption {
      padding: 0 15px; } }
.no-ideas p {
  margin-top: 20px; }
.no-ideas p:first-of-type,
.no-ideas p:nth-of-type(2) {
  margin-top: 0; }

.collab-final h2 {
  margin-bottom: 40px; }
  @media (min-width: 992px) {
    .collab-final h2 {
      margin-bottom: 76px; } }
.collab-final .final-concept-imgs {
  margin-bottom: 40px; }
  @media (min-width: 992px) {
    .collab-final .final-concept-imgs {
      margin-bottom: 89px; } }
.collab-final .onboarding-img {
  margin-top: 40px; }
  @media (min-width: 768px) {
    .collab-final .onboarding-img {
      margin-top: 0; } }
.collab-final p {
  margin-bottom: 20px; }
  .collab-final p:last-of-type {
    margin-bottom: 0; }
.collab-final .final-gif {
  padding: 0;
  margin-bottom: 50px; }
  @media (min-width: 768px) {
    .collab-final .final-gif {
      margin-top: 89px; } }

.collab-final-thoughts p {
  margin-bottom: 20px; }
  .collab-final-thoughts p:last-of-type {
    margin-bottom: 0; }

.sw-project-bg p {
  margin-top: 20px; }
  .sw-project-bg p:first-of-type {
    margin-top: 0; }

.sw-research .current-state {
  margin: 40px 0; }
  @media (min-width: 992px) {
    .sw-research .current-state {
      margin-top: 87px;
      margin-bottom: 89px; } }
  @media (max-width: 575px) {
    .sw-research .current-state .img:nth-of-type(2) {
      margin: 60px 0; } }
  @media (min-width: 768px) {
    .sw-research .current-state .img:nth-of-type(2) {
      margin: 0; } }
.sw-research .image-and-text-row {
  margin-top: 58px; }
.sw-research .text {
  margin-top: 40px;
  padding: 0; }
  @media (min-width: 992px) {
    .sw-research .text {
      margin-top: 0;
      padding-left: 38px;
      padding-right: 0; } }
@media (max-width: 575px) {
  .sw-research .caption {
    padding: 0 15px; } }

@media (min-width: 992px) {
  .sw-testing-ta .four-takeaways {
    padding-left: 24px; } }
.sw-testing-ta .one-takeaway {
  text-align: center; }
  @media (min-width: 1200px) {
    .sw-testing-ta .one-takeaway {
      text-align: left; } }
  .sw-testing-ta .one-takeaway img {
    margin: 0 auto; }
    @media (min-width: 1200px) {
      .sw-testing-ta .one-takeaway img {
        float: left;
        margin-right: 36px; } }
.sw-testing-ta .takeaway-text {
  margin-top: 20px; }
  @media (min-width: 1200px) {
    .sw-testing-ta .takeaway-text {
      margin-top: 0; } }
  .sw-testing-ta .takeaway-text h3 {
    margin-bottom: 7px; }
    @media (min-width: 1200px) {
      .sw-testing-ta .takeaway-text h3 {
        display: block;
        margin-bottom: 0; } }
  .sw-testing-ta .takeaway-text p {
    display: inline-block;
    max-width: 315px;
    margin-bottom: 40px; }
    @media (min-width: 768px) {
      .sw-testing-ta .takeaway-text p {
        text-align: left; } }
    @media (min-width: 1200px) {
      .sw-testing-ta .takeaway-text p {
        margin-bottom: 0; } }
@media (min-width: 1200px) {
  .sw-testing-ta .second-takeaway-set {
    margin-top: 62px; } }
@media (min-width: 768px) {
  .sw-testing-ta .takeaways-p {
    margin-top: 20px; } }
@media (min-width: 1200px) {
  .sw-testing-ta .takeaways-p {
    margin-top: 59px; } }

@media (max-width: 767px) {
  .sw-user-interviews .shift-life-cycle {
    display: none; } }
@media (min-width: 992px) {
  .sw-user-interviews .shift-life-cycle {
    display: block; } }
.sw-user-interviews .cycle-image {
  margin-top: 82px; }
  .sw-user-interviews .cycle-image img {
    width: 100%; }

.sw-interview-takeaways .section-header {
  margin-bottom: 40px; }
  @media (min-width: 992px) {
    .sw-interview-takeaways .section-header {
      margin-bottom: 76px; } }
.sw-interview-takeaways .image-and-caption {
  margin-bottom: 50px; }
  @media (min-width: 992px) {
    .sw-interview-takeaways .image-and-caption {
      margin-bottom: 84px; } }
.sw-interview-takeaways .header-inner {
  display: flex;
  align-items: center; }
  .sw-interview-takeaways .header-inner img {
    height: 30px;
    margin-right: 14px; }
    @media (min-width: 992px) {
      .sw-interview-takeaways .header-inner img {
        height: initial; } }
  .sw-interview-takeaways .header-inner img,
  .sw-interview-takeaways .header-inner h2 {
    display: inline-block; }
.sw-interview-takeaways .interview-ta-hr {
  border: 1px solid #C6C4C7;
  margin: 24px 0; }
  @media (min-width: 992px) {
    .sw-interview-takeaways .interview-ta-hr {
      margin-top: 33px;
      margin-bottom: 30px; } }
.sw-interview-takeaways .mgmt-takeaways .paragraph-and-bullets,
.sw-interview-takeaways .shedwool-takeaways .paragraph-and-bullets {
  margin: 0; }
  @media (min-width: 992px) {
    .sw-interview-takeaways .mgmt-takeaways .paragraph-and-bullets,
    .sw-interview-takeaways .shedwool-takeaways .paragraph-and-bullets {
      margin: 0 15px; } }
.sw-interview-takeaways .mgmt-takeaways p,
.sw-interview-takeaways .shedwool-takeaways p {
  padding: 0; }
  @media (min-width: 992px) {
    .sw-interview-takeaways .mgmt-takeaways p,
    .sw-interview-takeaways .shedwool-takeaways p {
      padding: inherit; } }
.sw-interview-takeaways .mgmt-takeaways .bulleted-list,
.sw-interview-takeaways .shedwool-takeaways .bulleted-list {
  padding: inherit;
  margin-top: 24px; }
  @media (min-width: 992px) {
    .sw-interview-takeaways .mgmt-takeaways .bulleted-list,
    .sw-interview-takeaways .shedwool-takeaways .bulleted-list {
      padding-left: 0;
      margin-top: 0; } }
.sw-interview-takeaways .employee-takeaways {
  margin: 43px 0; }

.sw-focus-on-employees {
  text-align: center;
  padding: 66px 0; }
  @media (max-width: 575px) {
    .sw-focus-on-employees .container {
      padding: 0 15px; } }
  .sw-focus-on-employees h2 {
    margin-bottom: 24px; }

.sw-beginning-to-ideate .bullets {
  padding-left: 46px; }
.sw-beginning-to-ideate .image-and-text-row .text {
  margin-bottom: 40px; }
  @media (min-width: 992px) {
    .sw-beginning-to-ideate .image-and-text-row .text {
      margin-bottom: 0; } }
.sw-beginning-to-ideate .concept-row {
  margin: 40px 0; }
  @media (min-width: 992px) {
    .sw-beginning-to-ideate .concept-row {
      margin: 87px 0; } }
.sw-beginning-to-ideate .round-one h2,
.sw-beginning-to-ideate .round-two h2,
.sw-beginning-to-ideate .round-three h2 {
  margin-bottom: 36px; }
@media (max-width: 575px) {
  .sw-beginning-to-ideate .round-one .bulleted-list,
  .sw-beginning-to-ideate .round-two .bulleted-list,
  .sw-beginning-to-ideate .round-three .bulleted-list {
    padding-left: 30px; } }
.sw-beginning-to-ideate .round-one .bullets,
.sw-beginning-to-ideate .round-two .bullets,
.sw-beginning-to-ideate .round-three .bullets {
  padding: 0; }
  @media (min-width: 992px) {
    .sw-beginning-to-ideate .round-one .bullets,
    .sw-beginning-to-ideate .round-two .bullets,
    .sw-beginning-to-ideate .round-three .bullets {
      padding: initial; } }
@media (max-width: 575px) {
  .sw-beginning-to-ideate .round-one .image-and-caption .img:nth-of-type(2),
  .sw-beginning-to-ideate .round-two .image-and-caption .img:nth-of-type(2),
  .sw-beginning-to-ideate .round-three .image-and-caption .img:nth-of-type(2) {
    margin: 60px 0; } }
.sw-beginning-to-ideate .round-one {
  margin-top: 40px; }
  @media (min-width: 992px) {
    .sw-beginning-to-ideate .round-one {
      margin-top: 110px; } }
.sw-beginning-to-ideate .icon-takeaway {
  text-align: center; }
  @media (max-width: 575px) {
    .sw-beginning-to-ideate .icon-takeaway {
      margin-bottom: 40px; } }
  .sw-beginning-to-ideate .icon-takeaway:last-of-type {
    margin-bottom: 0; }
  .sw-beginning-to-ideate .icon-takeaway h3 {
    margin-top: 10px;
    margin-bottom: 14px; }
  .sw-beginning-to-ideate .icon-takeaway p {
    text-align: center; }
    @media (min-width: 992px) {
      .sw-beginning-to-ideate .icon-takeaway p {
        text-align: left;
        max-width: 243px; } }
.sw-beginning-to-ideate hr {
  width: 479px;
  border: 1px solid #979797;
  margin: 0; }
.sw-beginning-to-ideate .round-two {
  position: relative;
  margin: 60px 0;
  padding: 60px 0; }
  @media (min-width: 992px) {
    .sw-beginning-to-ideate .round-two {
      margin-top: 127px;
      margin-bottom: 111px;
      padding-top: 108px;
      padding-bottom: 103px; } }
  .sw-beginning-to-ideate .round-two hr {
    position: absolute;
    left: 50%;
    transform: translateX(-50%); }
    @media (max-width: 575px) {
      .sw-beginning-to-ideate .round-two hr {
        display: none; } }
    .sw-beginning-to-ideate .round-two hr.r2-hr-top {
      top: 0; }
    .sw-beginning-to-ideate .round-two hr.r2-hr-bottom {
      bottom: 0; }
.sw-beginning-to-ideate .round-three .hr-takeaway-divider {
  margin: 24px 0; }
  @media (max-width: 575px) {
    .sw-beginning-to-ideate .round-three .hr-takeaway-divider {
      width: 100%;
      border-color: white; } }
  @media (min-width: 768px) {
    .sw-beginning-to-ideate .round-three .hr-takeaway-divider {
      margin: 40px auto; } }
  @media (min-width: 992px) {
    .sw-beginning-to-ideate .round-three .hr-takeaway-divider {
      margin: 47px auto; } }

.sw-main-takeaways h2 {
  margin-bottom: 40px; }
  @media (min-width: 992px) {
    .sw-main-takeaways h2 {
      margin-bottom: 57px; } }
@media (max-width: 575px) {
  .sw-main-takeaways span {
    display: block; } }
.sw-main-takeaways .bulleted-list {
  margin-bottom: 0px; }
  @media (min-width: 992px) {
    .sw-main-takeaways .bulleted-list {
      margin-bottom: initial; } }

.sw-final-design .final-design-text p {
  margin-bottom: 20px; }
  @media (min-width: 992px) {
    .sw-final-design .final-design-text p {
      padding-right: 24px; } }
  .sw-final-design .final-design-text p:last-of-type {
    margin-top: 42px; }
.sw-final-design .final-design-video {
  text-align: center;
  margin-top: 40px; }
  @media (min-width: 992px) {
    .sw-final-design .final-design-video {
      margin-top: 0; } }
  .sw-final-design .final-design-video .caption {
    text-align: center; }
.sw-final-design .improvements {
  margin-top: 60px;
  display: flex;
  max-width: 100%;
  justify-content: space-around; }
  @media (max-width: 575px) {
    .sw-final-design .improvements {
      flex-direction: column;
      margin-top: 42px; } }
  @media (min-width: 1200px) {
    .sw-final-design .improvements {
      max-width: 499px;
      justify-content: space-between; } }
  @media (max-width: 575px) {
    .sw-final-design .improvements img {
      margin: 30px 0; } }
.sw-final-design .improvement {
  text-align: center; }
  .sw-final-design .improvement h2 {
    font-weight: 200; }
  .sw-final-design .improvement span {
    display: block;
    color: #4A4A4A; }
  .sw-final-design .improvement .percentage {
    font-size: 48px;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 5px; }
  .sw-final-design .improvement .faster {
    font-size: 20px; }

.sw-moving-forward .bulleted-list {
  margin-top: 20px; }
  @media (min-width: 992px) {
    .sw-moving-forward .bulleted-list {
      margin-top: 0; } }

.sw-final-reflection p:first-of-type {
  margin-bottom: 20px; }

.ss-the-challenge .city-site-current {
  margin-top: 59px; }

@media (max-width: 575px) {
  .ss-the-problem .section-header span {
    display: block; } }
.ss-the-problem .checkbook-sites {
  margin-top: 67px;
  margin-bottom: 53px; }
  .ss-the-problem .checkbook-sites .image-and-caption:first-of-type {
    margin-bottom: 60px; }
    @media (min-width: 992px) {
      .ss-the-problem .checkbook-sites .image-and-caption:first-of-type {
        margin-bottom: 0; } }
.ss-the-problem .office-of-budget {
  margin: 40px 0; }
  @media (min-width: 992px) {
    .ss-the-problem .office-of-budget {
      margin-top: 72px;
      margin-bottom: 98px; } }
.ss-the-problem .where-was-the-data p {
  margin: 11px 0; }
.ss-the-problem .where-was-the-data .numbered-list {
  font-size: 18px;
  margin-bottom: 59px; }
  @media (max-width: 575px) {
    .ss-the-problem .where-was-the-data .numbered-list {
      margin-top: 20px;
      margin-bottom: 40px; } }
  @media (min-width: 768px) {
    .ss-the-problem .where-was-the-data .numbered-list {
      font-size: 20px; } }
.ss-the-problem .city-spreadsheet {
  margin-top: 40px; }
  @media (min-width: 992px) {
    .ss-the-problem .city-spreadsheet {
      margin-top: 86px; } }
.ss-the-problem .leading-to-problem {
  margin-top: 40px; }
  @media (min-width: 992px) {
    .ss-the-problem .leading-to-problem {
      margin-top: 59px; } }
  .ss-the-problem .leading-to-problem p {
    margin-bottom: 20px; }
  .ss-the-problem .leading-to-problem .quote {
    margin-top: 42px;
    margin-bottom: 58px; }
    @media (max-width: 575px) {
      .ss-the-problem .leading-to-problem .quote {
        margin: 40px 0; } }

.ss-forming-concepts .concept-test-group {
  margin: 60px 0; }
  @media (min-width: 992px) {
    .ss-forming-concepts .concept-test-group {
      margin: 83px 0; } }
  @media (max-width: 575px) {
    .ss-forming-concepts .concept-test-group {
      display: none; } }

@media (max-width: 575px) {
  .ss-paper-prototyping .paper-prototype-1,
  .ss-paper-prototyping .paper-prototype-2,
  .ss-paper-prototyping .paper-prototype-3 {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 40px; } }
.ss-paper-prototyping .paper-prototype-1 h2,
.ss-paper-prototyping .paper-prototype-2 h2,
.ss-paper-prototyping .paper-prototype-3 h2 {
  margin-bottom: 18px; }
.ss-paper-prototyping .paper-prototype-1 p,
.ss-paper-prototyping .paper-prototype-2 p,
.ss-paper-prototyping .paper-prototype-3 p {
  margin: 0; }
.ss-paper-prototyping .paper-prototype-1 .prototype-imgs,
.ss-paper-prototyping .paper-prototype-2 .prototype-imgs,
.ss-paper-prototyping .paper-prototype-3 .prototype-imgs {
  margin: 40px 0; }
  @media (min-width: 992px) {
    .ss-paper-prototyping .paper-prototype-1 .prototype-imgs,
    .ss-paper-prototyping .paper-prototype-2 .prototype-imgs,
    .ss-paper-prototyping .paper-prototype-3 .prototype-imgs {
      margin-top: 87px;
      margin-bottom: 59px; } }
@media (max-width: 575px) {
  .ss-paper-prototyping .paper-prototype-1 .img:nth-of-type(2),
  .ss-paper-prototyping .paper-prototype-2 .img:nth-of-type(2),
  .ss-paper-prototyping .paper-prototype-3 .img:nth-of-type(2) {
    margin: 60px 0; } }

.ss-insight p,
.ss-forming-concepts p,
.ss-refining p,
.ss-improving p,
.ss-learned p {
  margin-bottom: 20px; }
.ss-insight p:last-of-type,
.ss-forming-concepts p:last-of-type,
.ss-refining p:last-of-type,
.ss-improving p:last-of-type,
.ss-learned p:last-of-type {
  margin-bottom: 0; }

.ss-refining .refined-prototype {
  margin: 40px 0; }
  @media (min-width: 992px) {
    .ss-refining .refined-prototype {
      margin: 83px 0; } }
  .ss-refining .refined-prototype img {
    width: 100%;
    border: 1px solid #DADADA; }
.ss-refining .refined {
  text-align: center; }
.ss-refining .refined-library {
  margin-top: 60px; }
  @media (min-width: 768px) {
    .ss-refining .refined-library {
      margin-top: 0; } }

.ss-improving .first-prototype {
  margin: 60px 0; }
  @media (min-width: 992px) {
    .ss-improving .first-prototype {
      margin-top: 83px;
      margin-bottom: 96px; } }
.ss-improving .final-prototype-results {
  font-family: AvenirNext-DemiBold;
  font-size: 16px;
  color: #4A4A4A;
  margin: 40px 0; }
  @media (max-width: 575px) {
    .ss-improving .final-prototype-results {
      padding-left: 15px; } }
  @media (min-width: 992px) {
    .ss-improving .final-prototype-results {
      max-width: 85%;
      font-size: 20px;
      margin-top: 38px;
      margin: 0 auto;
      margin-bottom: 47px; } }

.contact footer {
  display: none; }

.my-picture {
  background-size: initial;
  background-repeat: no-repeat;
  background-position: top right; }

h1.h1-contact {
  font-size: 36px;
  margin-bottom: 18px; }

.contact-section {
  margin-top: 125px; }
  @media (max-width: 575px) {
    .contact-section {
      margin-top: 67px; } }
  .contact-section .container {
    background-color: rgba(255, 255, 255, 0.65);
    width: 100%; }
    @media (max-width: 575px) {
      .contact-section .container {
        background-color: white; } }
    @media (min-width: 768px) {
      .contact-section .container {
        background-color: transparent; } }

.glad-inner {
  padding-top: 118px;
  padding-bottom: 109px; }
  @media (max-width: 575px) {
    .glad-inner {
      padding-top: 40px;
      padding-bottom: 40px; } }
  @media (max-width: 575px) {
    .glad-inner a {
      width: 100%;
      text-align: center; } }
  .glad-inner p {
    max-width: 100%;
    margin-bottom: 35px;
    line-height: 31px;
    color: black; }
    @media (min-width: 992px) {
      .glad-inner p {
        color: inherit; } }
    .glad-inner p a {
      font-weight: 600; }
      .glad-inner p a:hover, .glad-inner p a:focus, .glad-inner p a:visited {
        text-decoration: none;
        color: #858585; }

.in-touch {
  text-align: center; }

.in-touch-inner {
  display: block;
  padding-top: 147px;
  padding-bottom: 147px; }
  @media (max-width: 575px) {
    .in-touch-inner {
      padding: 40px 30px; } }

.in-touch-links-wrapper {
  margin-top: 68px; }
  @media (max-width: 575px) {
    .in-touch-links-wrapper a {
      width: 100%; } }
  .in-touch-links-wrapper a:nth-of-type(2) {
    margin-left: 80px; }
    @media (max-width: 575px) {
      .in-touch-links-wrapper a:nth-of-type(2) {
        margin-left: 0;
        margin-top: 40px; } }
