html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  .container::after {
    clear: both;
    content: "";
    display: table; }

.row {
  display: block; }
  .row::after {
    clear: both;
    content: "";
    display: table; }

.col {
  float: left;
  display: inline-block; }

[class^="col-"],
[class*=" col-"] {
  padding: 0; }

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12 {
  position: relative;
  min-height: 1px; }

.col-xs-1 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 6.17215%; }
  .col-xs-1:last-child {
    margin-right: 0; }

.col-xs-collapse-1 {
  display: block;
  float: left;
  width: 8.33333%; }
  .col-xs-collapse-1:last-child {
    width: 8.33333%; }

.col-xs-offset-1 {
  margin-left: 8.5298%; }

.col-xs-2 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 14.70196%; }
  .col-xs-2:last-child {
    margin-right: 0; }

.col-xs-collapse-2 {
  display: block;
  float: left;
  width: 16.66667%; }
  .col-xs-collapse-2:last-child {
    width: 16.66667%; }

.col-xs-offset-2 {
  margin-left: 17.05961%; }

.col-xs-3 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%; }
  .col-xs-3:last-child {
    margin-right: 0; }

.col-xs-collapse-3 {
  display: block;
  float: left;
  width: 25%; }
  .col-xs-collapse-3:last-child {
    width: 25%; }

.col-xs-offset-3 {
  margin-left: 25.58941%; }

.col-xs-4 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%; }
  .col-xs-4:last-child {
    margin-right: 0; }

.col-xs-collapse-4 {
  display: block;
  float: left;
  width: 33.33333%; }
  .col-xs-collapse-4:last-child {
    width: 33.33333%; }

.col-xs-offset-4 {
  margin-left: 34.11922%; }

.col-xs-5 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 40.29137%; }
  .col-xs-5:last-child {
    margin-right: 0; }

.col-xs-collapse-5 {
  display: block;
  float: left;
  width: 41.66667%; }
  .col-xs-collapse-5:last-child {
    width: 41.66667%; }

.col-xs-offset-5 {
  margin-left: 42.64902%; }

.col-xs-6 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%; }
  .col-xs-6:last-child {
    margin-right: 0; }

.col-xs-collapse-6 {
  display: block;
  float: left;
  width: 50%; }
  .col-xs-collapse-6:last-child {
    width: 50%; }

.col-xs-offset-6 {
  margin-left: 51.17883%; }

.col-xs-7 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 57.35098%; }
  .col-xs-7:last-child {
    margin-right: 0; }

.col-xs-collapse-7 {
  display: block;
  float: left;
  width: 58.33333%; }
  .col-xs-collapse-7:last-child {
    width: 58.33333%; }

.col-xs-offset-7 {
  margin-left: 59.70863%; }

.col-xs-8 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%; }
  .col-xs-8:last-child {
    margin-right: 0; }

.col-xs-collapse-8 {
  display: block;
  float: left;
  width: 66.66667%; }
  .col-xs-collapse-8:last-child {
    width: 66.66667%; }

.col-xs-offset-8 {
  margin-left: 68.23843%; }

.col-xs-9 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 74.41059%; }
  .col-xs-9:last-child {
    margin-right: 0; }

.col-xs-collapse-9 {
  display: block;
  float: left;
  width: 75%; }
  .col-xs-collapse-9:last-child {
    width: 75%; }

.col-xs-offset-9 {
  margin-left: 76.76824%; }

.col-xs-10 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%; }
  .col-xs-10:last-child {
    margin-right: 0; }

.col-xs-collapse-10 {
  display: block;
  float: left;
  width: 83.33333%; }
  .col-xs-collapse-10:last-child {
    width: 83.33333%; }

.col-xs-offset-10 {
  margin-left: 85.29804%; }

.col-xs-11 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 91.4702%; }
  .col-xs-11:last-child {
    margin-right: 0; }

.col-xs-collapse-11 {
  display: block;
  float: left;
  width: 91.66667%; }
  .col-xs-collapse-11:last-child {
    width: 91.66667%; }

.col-xs-offset-11 {
  margin-left: 93.82785%; }

.col-xs-12 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .col-xs-12:last-child {
    margin-right: 0; }

.col-xs-collapse-12 {
  display: block;
  float: left;
  width: 100%; }
  .col-xs-collapse-12:last-child {
    width: 100%; }

.col-xs-offset-12 {
  margin-left: 102.35765%; }

.col-xs-centered {
  margin-left: auto !important;
  margin-right: auto !important;
  float: none !important; }

@media screen and (max-width: 767px) {
  .omega-xs-1 > [class^="col-"]:nth-child(1n),
  .omega-xs-1 > [class*=" col-"]:nth-child(1n) {
    margin-right: 0; }
  .omega-xs-1 > [class^="col-"]:nth-child(1n+1),
  .omega-xs-1 > [class*=" col-"]:nth-child(1n+1) {
    clear: left; }

  .omega-xs-2 > [class^="col-"]:nth-child(2n),
  .omega-xs-2 > [class*=" col-"]:nth-child(2n) {
    margin-right: 0; }
  .omega-xs-2 > [class^="col-"]:nth-child(2n+1),
  .omega-xs-2 > [class*=" col-"]:nth-child(2n+1) {
    clear: left; }

  .omega-xs-3 > [class^="col-"]:nth-child(3n),
  .omega-xs-3 > [class*=" col-"]:nth-child(3n) {
    margin-right: 0; }
  .omega-xs-3 > [class^="col-"]:nth-child(3n+1),
  .omega-xs-3 > [class*=" col-"]:nth-child(3n+1) {
    clear: left; }

  .omega-xs-4 > [class^="col-"]:nth-child(4n),
  .omega-xs-4 > [class*=" col-"]:nth-child(4n) {
    margin-right: 0; }
  .omega-xs-4 > [class^="col-"]:nth-child(4n+1),
  .omega-xs-4 > [class*=" col-"]:nth-child(4n+1) {
    clear: left; }

  .omega-xs-5 > [class^="col-"]:nth-child(5n),
  .omega-xs-5 > [class*=" col-"]:nth-child(5n) {
    margin-right: 0; }
  .omega-xs-5 > [class^="col-"]:nth-child(5n+1),
  .omega-xs-5 > [class*=" col-"]:nth-child(5n+1) {
    clear: left; }

  .omega-xs-6 > [class^="col-"]:nth-child(6n),
  .omega-xs-6 > [class*=" col-"]:nth-child(6n) {
    margin-right: 0; }
  .omega-xs-6 > [class^="col-"]:nth-child(6n+1),
  .omega-xs-6 > [class*=" col-"]:nth-child(6n+1) {
    clear: left; }

  .omega-xs-7 > [class^="col-"]:nth-child(7n),
  .omega-xs-7 > [class*=" col-"]:nth-child(7n) {
    margin-right: 0; }
  .omega-xs-7 > [class^="col-"]:nth-child(7n+1),
  .omega-xs-7 > [class*=" col-"]:nth-child(7n+1) {
    clear: left; }

  .omega-xs-8 > [class^="col-"]:nth-child(8n),
  .omega-xs-8 > [class*=" col-"]:nth-child(8n) {
    margin-right: 0; }
  .omega-xs-8 > [class^="col-"]:nth-child(8n+1),
  .omega-xs-8 > [class*=" col-"]:nth-child(8n+1) {
    clear: left; }

  .omega-xs-9 > [class^="col-"]:nth-child(9n),
  .omega-xs-9 > [class*=" col-"]:nth-child(9n) {
    margin-right: 0; }
  .omega-xs-9 > [class^="col-"]:nth-child(9n+1),
  .omega-xs-9 > [class*=" col-"]:nth-child(9n+1) {
    clear: left; }

  .omega-xs-10 > [class^="col-"]:nth-child(10n),
  .omega-xs-10 > [class*=" col-"]:nth-child(10n) {
    margin-right: 0; }
  .omega-xs-10 > [class^="col-"]:nth-child(10n+1),
  .omega-xs-10 > [class*=" col-"]:nth-child(10n+1) {
    clear: left; }

  .omega-xs-11 > [class^="col-"]:nth-child(11n),
  .omega-xs-11 > [class*=" col-"]:nth-child(11n) {
    margin-right: 0; }
  .omega-xs-11 > [class^="col-"]:nth-child(11n+1),
  .omega-xs-11 > [class*=" col-"]:nth-child(11n+1) {
    clear: left; }

  .omega-xs-12 > [class^="col-"]:nth-child(12n),
  .omega-xs-12 > [class*=" col-"]:nth-child(12n) {
    margin-right: 0; }
  .omega-xs-12 > [class^="col-"]:nth-child(12n+1),
  .omega-xs-12 > [class*=" col-"]:nth-child(12n+1) {
    clear: left; } }
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px; }

  .col-sm-1 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 6.17215%; }
    .col-sm-1:last-child {
      margin-right: 0; }

  .col-sm-push-1 {
    left: 8.5298%; }

  .col-sm-pull-1 {
    right: 8.5298%; }

  .col-sm-collapse-1 {
    display: block;
    float: left;
    width: 8.33333%; }
    .col-sm-collapse-1:last-child {
      width: 8.33333%; }

  .col-sm-offset-1 {
    margin-left: 8.5298%; }

  .col-sm-2 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%; }
    .col-sm-2:last-child {
      margin-right: 0; }

  .col-sm-push-2 {
    left: 17.05961%; }

  .col-sm-pull-2 {
    right: 17.05961%; }

  .col-sm-collapse-2 {
    display: block;
    float: left;
    width: 16.66667%; }
    .col-sm-collapse-2:last-child {
      width: 16.66667%; }

  .col-sm-offset-2 {
    margin-left: 17.05961%; }

  .col-sm-3 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%; }
    .col-sm-3:last-child {
      margin-right: 0; }

  .col-sm-push-3 {
    left: 25.58941%; }

  .col-sm-pull-3 {
    right: 25.58941%; }

  .col-sm-collapse-3 {
    display: block;
    float: left;
    width: 25%; }
    .col-sm-collapse-3:last-child {
      width: 25%; }

  .col-sm-offset-3 {
    margin-left: 25.58941%; }

  .col-sm-4 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    .col-sm-4:last-child {
      margin-right: 0; }

  .col-sm-push-4 {
    left: 34.11922%; }

  .col-sm-pull-4 {
    right: 34.11922%; }

  .col-sm-collapse-4 {
    display: block;
    float: left;
    width: 33.33333%; }
    .col-sm-collapse-4:last-child {
      width: 33.33333%; }

  .col-sm-offset-4 {
    margin-left: 34.11922%; }

  .col-sm-5 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 40.29137%; }
    .col-sm-5:last-child {
      margin-right: 0; }

  .col-sm-push-5 {
    left: 42.64902%; }

  .col-sm-pull-5 {
    right: 42.64902%; }

  .col-sm-collapse-5 {
    display: block;
    float: left;
    width: 41.66667%; }
    .col-sm-collapse-5:last-child {
      width: 41.66667%; }

  .col-sm-offset-5 {
    margin-left: 42.64902%; }

  .col-sm-6 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    .col-sm-6:last-child {
      margin-right: 0; }

  .col-sm-push-6 {
    left: 51.17883%; }

  .col-sm-pull-6 {
    right: 51.17883%; }

  .col-sm-collapse-6 {
    display: block;
    float: left;
    width: 50%; }
    .col-sm-collapse-6:last-child {
      width: 50%; }

  .col-sm-offset-6 {
    margin-left: 51.17883%; }

  .col-sm-7 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 57.35098%; }
    .col-sm-7:last-child {
      margin-right: 0; }

  .col-sm-push-7 {
    left: 59.70863%; }

  .col-sm-pull-7 {
    right: 59.70863%; }

  .col-sm-collapse-7 {
    display: block;
    float: left;
    width: 58.33333%; }
    .col-sm-collapse-7:last-child {
      width: 58.33333%; }

  .col-sm-offset-7 {
    margin-left: 59.70863%; }

  .col-sm-8 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%; }
    .col-sm-8:last-child {
      margin-right: 0; }

  .col-sm-push-8 {
    left: 68.23843%; }

  .col-sm-pull-8 {
    right: 68.23843%; }

  .col-sm-collapse-8 {
    display: block;
    float: left;
    width: 66.66667%; }
    .col-sm-collapse-8:last-child {
      width: 66.66667%; }

  .col-sm-offset-8 {
    margin-left: 68.23843%; }

  .col-sm-9 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 74.41059%; }
    .col-sm-9:last-child {
      margin-right: 0; }

  .col-sm-push-9 {
    left: 76.76824%; }

  .col-sm-pull-9 {
    right: 76.76824%; }

  .col-sm-collapse-9 {
    display: block;
    float: left;
    width: 75%; }
    .col-sm-collapse-9:last-child {
      width: 75%; }

  .col-sm-offset-9 {
    margin-left: 76.76824%; }

  .col-sm-10 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%; }
    .col-sm-10:last-child {
      margin-right: 0; }

  .col-sm-push-10 {
    left: 85.29804%; }

  .col-sm-pull-10 {
    right: 85.29804%; }

  .col-sm-collapse-10 {
    display: block;
    float: left;
    width: 83.33333%; }
    .col-sm-collapse-10:last-child {
      width: 83.33333%; }

  .col-sm-offset-10 {
    margin-left: 85.29804%; }

  .col-sm-11 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 91.4702%; }
    .col-sm-11:last-child {
      margin-right: 0; }

  .col-sm-push-11 {
    left: 93.82785%; }

  .col-sm-pull-11 {
    right: 93.82785%; }

  .col-sm-collapse-11 {
    display: block;
    float: left;
    width: 91.66667%; }
    .col-sm-collapse-11:last-child {
      width: 91.66667%; }

  .col-sm-offset-11 {
    margin-left: 93.82785%; }

  .col-sm-12 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    .col-sm-12:last-child {
      margin-right: 0; }

  .col-sm-push-12 {
    left: 102.35765%; }

  .col-sm-pull-12 {
    right: 102.35765%; }

  .col-sm-collapse-12 {
    display: block;
    float: left;
    width: 100%; }
    .col-sm-collapse-12:last-child {
      width: 100%; }

  .col-sm-offset-12 {
    margin-left: 102.35765%; }

  .col-sm-centered {
    margin-left: auto !important;
    margin-right: auto !important;
    float: none !important; } }
@media screen and (min-width: 768px) and (max-width: 991px) {
  .omega-sm-1 > [class^="col-"]:nth-child(1n),
  .omega-sm-1 > [class*=" col-"]:nth-child(1n) {
    margin-right: 0; }
  .omega-sm-1 > [class^="col-"]:nth-child(1n+1),
  .omega-sm-1 > [class*=" col-"]:nth-child(1n+1) {
    clear: left; }

  .omega-sm-2 > [class^="col-"]:nth-child(2n),
  .omega-sm-2 > [class*=" col-"]:nth-child(2n) {
    margin-right: 0; }
  .omega-sm-2 > [class^="col-"]:nth-child(2n+1),
  .omega-sm-2 > [class*=" col-"]:nth-child(2n+1) {
    clear: left; }

  .omega-sm-3 > [class^="col-"]:nth-child(3n),
  .omega-sm-3 > [class*=" col-"]:nth-child(3n) {
    margin-right: 0; }
  .omega-sm-3 > [class^="col-"]:nth-child(3n+1),
  .omega-sm-3 > [class*=" col-"]:nth-child(3n+1) {
    clear: left; }

  .omega-sm-4 > [class^="col-"]:nth-child(4n),
  .omega-sm-4 > [class*=" col-"]:nth-child(4n) {
    margin-right: 0; }
  .omega-sm-4 > [class^="col-"]:nth-child(4n+1),
  .omega-sm-4 > [class*=" col-"]:nth-child(4n+1) {
    clear: left; }

  .omega-sm-5 > [class^="col-"]:nth-child(5n),
  .omega-sm-5 > [class*=" col-"]:nth-child(5n) {
    margin-right: 0; }
  .omega-sm-5 > [class^="col-"]:nth-child(5n+1),
  .omega-sm-5 > [class*=" col-"]:nth-child(5n+1) {
    clear: left; }

  .omega-sm-6 > [class^="col-"]:nth-child(6n),
  .omega-sm-6 > [class*=" col-"]:nth-child(6n) {
    margin-right: 0; }
  .omega-sm-6 > [class^="col-"]:nth-child(6n+1),
  .omega-sm-6 > [class*=" col-"]:nth-child(6n+1) {
    clear: left; }

  .omega-sm-7 > [class^="col-"]:nth-child(7n),
  .omega-sm-7 > [class*=" col-"]:nth-child(7n) {
    margin-right: 0; }
  .omega-sm-7 > [class^="col-"]:nth-child(7n+1),
  .omega-sm-7 > [class*=" col-"]:nth-child(7n+1) {
    clear: left; }

  .omega-sm-8 > [class^="col-"]:nth-child(8n),
  .omega-sm-8 > [class*=" col-"]:nth-child(8n) {
    margin-right: 0; }
  .omega-sm-8 > [class^="col-"]:nth-child(8n+1),
  .omega-sm-8 > [class*=" col-"]:nth-child(8n+1) {
    clear: left; }

  .omega-sm-9 > [class^="col-"]:nth-child(9n),
  .omega-sm-9 > [class*=" col-"]:nth-child(9n) {
    margin-right: 0; }
  .omega-sm-9 > [class^="col-"]:nth-child(9n+1),
  .omega-sm-9 > [class*=" col-"]:nth-child(9n+1) {
    clear: left; }

  .omega-sm-10 > [class^="col-"]:nth-child(10n),
  .omega-sm-10 > [class*=" col-"]:nth-child(10n) {
    margin-right: 0; }
  .omega-sm-10 > [class^="col-"]:nth-child(10n+1),
  .omega-sm-10 > [class*=" col-"]:nth-child(10n+1) {
    clear: left; }

  .omega-sm-11 > [class^="col-"]:nth-child(11n),
  .omega-sm-11 > [class*=" col-"]:nth-child(11n) {
    margin-right: 0; }
  .omega-sm-11 > [class^="col-"]:nth-child(11n+1),
  .omega-sm-11 > [class*=" col-"]:nth-child(11n+1) {
    clear: left; }

  .omega-sm-12 > [class^="col-"]:nth-child(12n),
  .omega-sm-12 > [class*=" col-"]:nth-child(12n) {
    margin-right: 0; }
  .omega-sm-12 > [class^="col-"]:nth-child(12n+1),
  .omega-sm-12 > [class*=" col-"]:nth-child(12n+1) {
    clear: left; } }
@media screen and (min-width: 992px) {
  .container {
    max-width: 992px; }

  .col-md-1 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 6.17215%; }
    .col-md-1:last-child {
      margin-right: 0; }

  .col-md-push-1 {
    left: 8.5298%; }

  .col-md-pull-1 {
    right: 8.5298%; }

  .col-md-collapse-1 {
    display: block;
    float: left;
    width: 8.33333%; }
    .col-md-collapse-1:last-child {
      width: 8.33333%; }

  .col-md-offset-1 {
    margin-left: 8.5298%; }

  .col-md-2 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%; }
    .col-md-2:last-child {
      margin-right: 0; }

  .col-md-push-2 {
    left: 17.05961%; }

  .col-md-pull-2 {
    right: 17.05961%; }

  .col-md-collapse-2 {
    display: block;
    float: left;
    width: 16.66667%; }
    .col-md-collapse-2:last-child {
      width: 16.66667%; }

  .col-md-offset-2 {
    margin-left: 17.05961%; }

  .col-md-3 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%; }
    .col-md-3:last-child {
      margin-right: 0; }

  .col-md-push-3 {
    left: 25.58941%; }

  .col-md-pull-3 {
    right: 25.58941%; }

  .col-md-collapse-3 {
    display: block;
    float: left;
    width: 25%; }
    .col-md-collapse-3:last-child {
      width: 25%; }

  .col-md-offset-3 {
    margin-left: 25.58941%; }

  .col-md-4 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    .col-md-4:last-child {
      margin-right: 0; }

  .col-md-push-4 {
    left: 34.11922%; }

  .col-md-pull-4 {
    right: 34.11922%; }

  .col-md-collapse-4 {
    display: block;
    float: left;
    width: 33.33333%; }
    .col-md-collapse-4:last-child {
      width: 33.33333%; }

  .col-md-offset-4 {
    margin-left: 34.11922%; }

  .col-md-5 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 40.29137%; }
    .col-md-5:last-child {
      margin-right: 0; }

  .col-md-push-5 {
    left: 42.64902%; }

  .col-md-pull-5 {
    right: 42.64902%; }

  .col-md-collapse-5 {
    display: block;
    float: left;
    width: 41.66667%; }
    .col-md-collapse-5:last-child {
      width: 41.66667%; }

  .col-md-offset-5 {
    margin-left: 42.64902%; }

  .col-md-6 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    .col-md-6:last-child {
      margin-right: 0; }

  .col-md-push-6 {
    left: 51.17883%; }

  .col-md-pull-6 {
    right: 51.17883%; }

  .col-md-collapse-6 {
    display: block;
    float: left;
    width: 50%; }
    .col-md-collapse-6:last-child {
      width: 50%; }

  .col-md-offset-6 {
    margin-left: 51.17883%; }

  .col-md-7 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 57.35098%; }
    .col-md-7:last-child {
      margin-right: 0; }

  .col-md-push-7 {
    left: 59.70863%; }

  .col-md-pull-7 {
    right: 59.70863%; }

  .col-md-collapse-7 {
    display: block;
    float: left;
    width: 58.33333%; }
    .col-md-collapse-7:last-child {
      width: 58.33333%; }

  .col-md-offset-7 {
    margin-left: 59.70863%; }

  .col-md-8 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%; }
    .col-md-8:last-child {
      margin-right: 0; }

  .col-md-push-8 {
    left: 68.23843%; }

  .col-md-pull-8 {
    right: 68.23843%; }

  .col-md-collapse-8 {
    display: block;
    float: left;
    width: 66.66667%; }
    .col-md-collapse-8:last-child {
      width: 66.66667%; }

  .col-md-offset-8 {
    margin-left: 68.23843%; }

  .col-md-9 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 74.41059%; }
    .col-md-9:last-child {
      margin-right: 0; }

  .col-md-push-9 {
    left: 76.76824%; }

  .col-md-pull-9 {
    right: 76.76824%; }

  .col-md-collapse-9 {
    display: block;
    float: left;
    width: 75%; }
    .col-md-collapse-9:last-child {
      width: 75%; }

  .col-md-offset-9 {
    margin-left: 76.76824%; }

  .col-md-10 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%; }
    .col-md-10:last-child {
      margin-right: 0; }

  .col-md-push-10 {
    left: 85.29804%; }

  .col-md-pull-10 {
    right: 85.29804%; }

  .col-md-collapse-10 {
    display: block;
    float: left;
    width: 83.33333%; }
    .col-md-collapse-10:last-child {
      width: 83.33333%; }

  .col-md-offset-10 {
    margin-left: 85.29804%; }

  .col-md-11 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 91.4702%; }
    .col-md-11:last-child {
      margin-right: 0; }

  .col-md-push-11 {
    left: 93.82785%; }

  .col-md-pull-11 {
    right: 93.82785%; }

  .col-md-collapse-11 {
    display: block;
    float: left;
    width: 91.66667%; }
    .col-md-collapse-11:last-child {
      width: 91.66667%; }

  .col-md-offset-11 {
    margin-left: 93.82785%; }

  .col-md-12 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    .col-md-12:last-child {
      margin-right: 0; }

  .col-md-push-12 {
    left: 102.35765%; }

  .col-md-pull-12 {
    right: 102.35765%; }

  .col-md-collapse-12 {
    display: block;
    float: left;
    width: 100%; }
    .col-md-collapse-12:last-child {
      width: 100%; }

  .col-md-offset-12 {
    margin-left: 102.35765%; }

  .col-md-centered {
    margin-left: auto !important;
    margin-right: auto !important;
    float: none !important; } }
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .omega-md-1 > [class^="col-"]:nth-child(1n),
  .omega-md-1 > [class*=" col-"]:nth-child(1n) {
    margin-right: 0; }
  .omega-md-1 > [class^="col-"]:nth-child(1n+1),
  .omega-md-1 > [class*=" col-"]:nth-child(1n+1) {
    clear: left; }

  .omega-md-2 > [class^="col-"]:nth-child(2n),
  .omega-md-2 > [class*=" col-"]:nth-child(2n) {
    margin-right: 0; }
  .omega-md-2 > [class^="col-"]:nth-child(2n+1),
  .omega-md-2 > [class*=" col-"]:nth-child(2n+1) {
    clear: left; }

  .omega-md-3 > [class^="col-"]:nth-child(3n),
  .omega-md-3 > [class*=" col-"]:nth-child(3n) {
    margin-right: 0; }
  .omega-md-3 > [class^="col-"]:nth-child(3n+1),
  .omega-md-3 > [class*=" col-"]:nth-child(3n+1) {
    clear: left; }

  .omega-md-4 > [class^="col-"]:nth-child(4n),
  .omega-md-4 > [class*=" col-"]:nth-child(4n) {
    margin-right: 0; }
  .omega-md-4 > [class^="col-"]:nth-child(4n+1),
  .omega-md-4 > [class*=" col-"]:nth-child(4n+1) {
    clear: left; }

  .omega-md-5 > [class^="col-"]:nth-child(5n),
  .omega-md-5 > [class*=" col-"]:nth-child(5n) {
    margin-right: 0; }
  .omega-md-5 > [class^="col-"]:nth-child(5n+1),
  .omega-md-5 > [class*=" col-"]:nth-child(5n+1) {
    clear: left; }

  .omega-md-6 > [class^="col-"]:nth-child(6n),
  .omega-md-6 > [class*=" col-"]:nth-child(6n) {
    margin-right: 0; }
  .omega-md-6 > [class^="col-"]:nth-child(6n+1),
  .omega-md-6 > [class*=" col-"]:nth-child(6n+1) {
    clear: left; }

  .omega-md-7 > [class^="col-"]:nth-child(7n),
  .omega-md-7 > [class*=" col-"]:nth-child(7n) {
    margin-right: 0; }
  .omega-md-7 > [class^="col-"]:nth-child(7n+1),
  .omega-md-7 > [class*=" col-"]:nth-child(7n+1) {
    clear: left; }

  .omega-md-8 > [class^="col-"]:nth-child(8n),
  .omega-md-8 > [class*=" col-"]:nth-child(8n) {
    margin-right: 0; }
  .omega-md-8 > [class^="col-"]:nth-child(8n+1),
  .omega-md-8 > [class*=" col-"]:nth-child(8n+1) {
    clear: left; }

  .omega-md-9 > [class^="col-"]:nth-child(9n),
  .omega-md-9 > [class*=" col-"]:nth-child(9n) {
    margin-right: 0; }
  .omega-md-9 > [class^="col-"]:nth-child(9n+1),
  .omega-md-9 > [class*=" col-"]:nth-child(9n+1) {
    clear: left; }

  .omega-md-10 > [class^="col-"]:nth-child(10n),
  .omega-md-10 > [class*=" col-"]:nth-child(10n) {
    margin-right: 0; }
  .omega-md-10 > [class^="col-"]:nth-child(10n+1),
  .omega-md-10 > [class*=" col-"]:nth-child(10n+1) {
    clear: left; }

  .omega-md-11 > [class^="col-"]:nth-child(11n),
  .omega-md-11 > [class*=" col-"]:nth-child(11n) {
    margin-right: 0; }
  .omega-md-11 > [class^="col-"]:nth-child(11n+1),
  .omega-md-11 > [class*=" col-"]:nth-child(11n+1) {
    clear: left; }

  .omega-md-12 > [class^="col-"]:nth-child(12n),
  .omega-md-12 > [class*=" col-"]:nth-child(12n) {
    margin-right: 0; }
  .omega-md-12 > [class^="col-"]:nth-child(12n+1),
  .omega-md-12 > [class*=" col-"]:nth-child(12n+1) {
    clear: left; } }
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto; }
    .container::after {
      clear: both;
      content: "";
      display: table; }

  .col-lg-1 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 6.17215%; }
    .col-lg-1:last-child {
      margin-right: 0; }

  .col-lg-push-1 {
    left: 8.5298%; }

  .col-lg-pull-1 {
    right: 8.5298%; }

  .col-lg-collapse-1 {
    display: block;
    float: left;
    width: 8.33333%; }
    .col-lg-collapse-1:last-child {
      width: 8.33333%; }

  .col-lg-offset-1 {
    margin-left: 8.5298%; }

  .col-lg-2 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%; }
    .col-lg-2:last-child {
      margin-right: 0; }

  .col-lg-push-2 {
    left: 17.05961%; }

  .col-lg-pull-2 {
    right: 17.05961%; }

  .col-lg-collapse-2 {
    display: block;
    float: left;
    width: 16.66667%; }
    .col-lg-collapse-2:last-child {
      width: 16.66667%; }

  .col-lg-offset-2 {
    margin-left: 17.05961%; }

  .col-lg-3 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%; }
    .col-lg-3:last-child {
      margin-right: 0; }

  .col-lg-push-3 {
    left: 25.58941%; }

  .col-lg-pull-3 {
    right: 25.58941%; }

  .col-lg-collapse-3 {
    display: block;
    float: left;
    width: 25%; }
    .col-lg-collapse-3:last-child {
      width: 25%; }

  .col-lg-offset-3 {
    margin-left: 25.58941%; }

  .col-lg-4 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    .col-lg-4:last-child {
      margin-right: 0; }

  .col-lg-push-4 {
    left: 34.11922%; }

  .col-lg-pull-4 {
    right: 34.11922%; }

  .col-lg-collapse-4 {
    display: block;
    float: left;
    width: 33.33333%; }
    .col-lg-collapse-4:last-child {
      width: 33.33333%; }

  .col-lg-offset-4 {
    margin-left: 34.11922%; }

  .col-lg-5 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 40.29137%; }
    .col-lg-5:last-child {
      margin-right: 0; }

  .col-lg-push-5 {
    left: 42.64902%; }

  .col-lg-pull-5 {
    right: 42.64902%; }

  .col-lg-collapse-5 {
    display: block;
    float: left;
    width: 41.66667%; }
    .col-lg-collapse-5:last-child {
      width: 41.66667%; }

  .col-lg-offset-5 {
    margin-left: 42.64902%; }

  .col-lg-6 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    .col-lg-6:last-child {
      margin-right: 0; }

  .col-lg-push-6 {
    left: 51.17883%; }

  .col-lg-pull-6 {
    right: 51.17883%; }

  .col-lg-collapse-6 {
    display: block;
    float: left;
    width: 50%; }
    .col-lg-collapse-6:last-child {
      width: 50%; }

  .col-lg-offset-6 {
    margin-left: 51.17883%; }

  .col-lg-7 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 57.35098%; }
    .col-lg-7:last-child {
      margin-right: 0; }

  .col-lg-push-7 {
    left: 59.70863%; }

  .col-lg-pull-7 {
    right: 59.70863%; }

  .col-lg-collapse-7 {
    display: block;
    float: left;
    width: 58.33333%; }
    .col-lg-collapse-7:last-child {
      width: 58.33333%; }

  .col-lg-offset-7 {
    margin-left: 59.70863%; }

  .col-lg-8 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%; }
    .col-lg-8:last-child {
      margin-right: 0; }

  .col-lg-push-8 {
    left: 68.23843%; }

  .col-lg-pull-8 {
    right: 68.23843%; }

  .col-lg-collapse-8 {
    display: block;
    float: left;
    width: 66.66667%; }
    .col-lg-collapse-8:last-child {
      width: 66.66667%; }

  .col-lg-offset-8 {
    margin-left: 68.23843%; }

  .col-lg-9 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 74.41059%; }
    .col-lg-9:last-child {
      margin-right: 0; }

  .col-lg-push-9 {
    left: 76.76824%; }

  .col-lg-pull-9 {
    right: 76.76824%; }

  .col-lg-collapse-9 {
    display: block;
    float: left;
    width: 75%; }
    .col-lg-collapse-9:last-child {
      width: 75%; }

  .col-lg-offset-9 {
    margin-left: 76.76824%; }

  .col-lg-10 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%; }
    .col-lg-10:last-child {
      margin-right: 0; }

  .col-lg-push-10 {
    left: 85.29804%; }

  .col-lg-pull-10 {
    right: 85.29804%; }

  .col-lg-collapse-10 {
    display: block;
    float: left;
    width: 83.33333%; }
    .col-lg-collapse-10:last-child {
      width: 83.33333%; }

  .col-lg-offset-10 {
    margin-left: 85.29804%; }

  .col-lg-11 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 91.4702%; }
    .col-lg-11:last-child {
      margin-right: 0; }

  .col-lg-push-11 {
    left: 93.82785%; }

  .col-lg-pull-11 {
    right: 93.82785%; }

  .col-lg-collapse-11 {
    display: block;
    float: left;
    width: 91.66667%; }
    .col-lg-collapse-11:last-child {
      width: 91.66667%; }

  .col-lg-offset-11 {
    margin-left: 93.82785%; }

  .col-lg-12 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    .col-lg-12:last-child {
      margin-right: 0; }

  .col-lg-push-12 {
    left: 102.35765%; }

  .col-lg-pull-12 {
    right: 102.35765%; }

  .col-lg-collapse-12 {
    display: block;
    float: left;
    width: 100%; }
    .col-lg-collapse-12:last-child {
      width: 100%; }

  .col-lg-offset-12 {
    margin-left: 102.35765%; }

  .col-lg-centered {
    margin-left: auto !important;
    margin-right: auto !important;
    float: none !important; }

  .omega-lg-1 > [class^="col-"]:nth-child(1n),
  .omega-lg-1 > [class*=" col-"]:nth-child(1n) {
    margin-right: 0; }
  .omega-lg-1 > [class^="col-"]:nth-child(1n+1),
  .omega-lg-1 > [class*=" col-"]:nth-child(1n+1) {
    clear: left; }

  .omega-lg-2 > [class^="col-"]:nth-child(2n),
  .omega-lg-2 > [class*=" col-"]:nth-child(2n) {
    margin-right: 0; }
  .omega-lg-2 > [class^="col-"]:nth-child(2n+1),
  .omega-lg-2 > [class*=" col-"]:nth-child(2n+1) {
    clear: left; }

  .omega-lg-3 > [class^="col-"]:nth-child(3n),
  .omega-lg-3 > [class*=" col-"]:nth-child(3n) {
    margin-right: 0; }
  .omega-lg-3 > [class^="col-"]:nth-child(3n+1),
  .omega-lg-3 > [class*=" col-"]:nth-child(3n+1) {
    clear: left; }

  .omega-lg-4 > [class^="col-"]:nth-child(4n),
  .omega-lg-4 > [class*=" col-"]:nth-child(4n) {
    margin-right: 0; }
  .omega-lg-4 > [class^="col-"]:nth-child(4n+1),
  .omega-lg-4 > [class*=" col-"]:nth-child(4n+1) {
    clear: left; }

  .omega-lg-5 > [class^="col-"]:nth-child(5n),
  .omega-lg-5 > [class*=" col-"]:nth-child(5n) {
    margin-right: 0; }
  .omega-lg-5 > [class^="col-"]:nth-child(5n+1),
  .omega-lg-5 > [class*=" col-"]:nth-child(5n+1) {
    clear: left; }

  .omega-lg-6 > [class^="col-"]:nth-child(6n),
  .omega-lg-6 > [class*=" col-"]:nth-child(6n) {
    margin-right: 0; }
  .omega-lg-6 > [class^="col-"]:nth-child(6n+1),
  .omega-lg-6 > [class*=" col-"]:nth-child(6n+1) {
    clear: left; }

  .omega-lg-7 > [class^="col-"]:nth-child(7n),
  .omega-lg-7 > [class*=" col-"]:nth-child(7n) {
    margin-right: 0; }
  .omega-lg-7 > [class^="col-"]:nth-child(7n+1),
  .omega-lg-7 > [class*=" col-"]:nth-child(7n+1) {
    clear: left; }

  .omega-lg-8 > [class^="col-"]:nth-child(8n),
  .omega-lg-8 > [class*=" col-"]:nth-child(8n) {
    margin-right: 0; }
  .omega-lg-8 > [class^="col-"]:nth-child(8n+1),
  .omega-lg-8 > [class*=" col-"]:nth-child(8n+1) {
    clear: left; }

  .omega-lg-9 > [class^="col-"]:nth-child(9n),
  .omega-lg-9 > [class*=" col-"]:nth-child(9n) {
    margin-right: 0; }
  .omega-lg-9 > [class^="col-"]:nth-child(9n+1),
  .omega-lg-9 > [class*=" col-"]:nth-child(9n+1) {
    clear: left; }

  .omega-lg-10 > [class^="col-"]:nth-child(10n),
  .omega-lg-10 > [class*=" col-"]:nth-child(10n) {
    margin-right: 0; }
  .omega-lg-10 > [class^="col-"]:nth-child(10n+1),
  .omega-lg-10 > [class*=" col-"]:nth-child(10n+1) {
    clear: left; }

  .omega-lg-11 > [class^="col-"]:nth-child(11n),
  .omega-lg-11 > [class*=" col-"]:nth-child(11n) {
    margin-right: 0; }
  .omega-lg-11 > [class^="col-"]:nth-child(11n+1),
  .omega-lg-11 > [class*=" col-"]:nth-child(11n+1) {
    clear: left; }

  .omega-lg-12 > [class^="col-"]:nth-child(12n),
  .omega-lg-12 > [class*=" col-"]:nth-child(12n) {
    margin-right: 0; }
  .omega-lg-12 > [class^="col-"]:nth-child(12n+1),
  .omega-lg-12 > [class*=" col-"]:nth-child(12n+1) {
    clear: left; } }
.padless {
  padding: 0; }

.omega {
  margin-right: 0; }

.clearfix::after {
  clear: both;
  content: "";
  display: table; }

.pull-right {
  float: right; }

.pull-left {
  float: left; }

body {
  font-family: "Open Sans", sans-serif;
  color: #404040; }

h1,
h2,
h3,
h4,
p,
a {
  font-weight: 300;
  margin: 0; }

p,
a {
  font-size: 21px; }

p {
  font-size: 22px;
  color: #6C6C6C;
  padding: 0; }

.h2-gray {
  font-size: 35px;
  color: #6C6C6C;
  font-weight: 400; }

h4.green-header {
  font-size: 26px;
  color: #215446;
  font-weight: 600;
  margin: 0px; }

.text-center {
  text-align: center; }

.section-alabaster {
  background: #F8F8F8; }

nav {
  padding: 30px 0px; }

.name-of-site,
.nav-link-wrapper,
.nav-link {
  display: inline-block; }

.nav-link-wrapper {
  display: inline-block;
  float: right;
  padding: 0;
  margin: 0; }

.nav-link {
  margin-left: 45px; }

.nav-link a {
  text-decoration: none;
  color: #404040;
  text-transform: capitalize; }

.btn {
  font-family: OpenSans-Semibold;
  font-size: 22px;
  text-decoration: none;
  padding: 17px 44px;
  display: inline-block; }
  .btn.green {
    background: #215456;
    color: #F8F8F8; }

.intro-paragraph {
  white-space: pre-wrap; }

.home-hero {
  font-size: 25px;
  color: #404040;
  letter-spacing: 0px;
  height: 589px;
  background-size: cover;
  background-position: center;
  padding-top: 154px; }
  .home-hero .home-hero-text {
    width: 587px; }
    .home-hero .home-hero-text h1 {
      font-size: 46px;
      color: white;
      font-weight: 600; }
      .home-hero .home-hero-text h1 span {
        color: #F3E200; }

.hard-to-explain {
  padding-top: 111px;
  padding-bottom: 111px; }
  .hard-to-explain .my-quote {
    margin-top: 49px;
    padding-right: 11%; }

.good-ux-designer {
  padding-top: 100px;
  padding-bottom: 114px; }
  .good-ux-designer h2 {
    margin-bottom: 50px; }
  .good-ux-designer .trait-explaination-list {
    font-size: 19px;
    color: #6C6C6C;
    margin-top: 24px; }
  .good-ux-designer .single-trait {
    padding-top: 80px; }
    .good-ux-designer .single-trait.right-trait {
      padding-left: 40px; }

.get-in-touch {
  padding-top: 121px;
  padding-bottom: 156px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5); }
  .get-in-touch p {
    width: 337px;
    margin: 0 auto;
    margin-top: 10px; }
  .get-in-touch .btn-wrapper {
    margin-top: 55px; }
    .get-in-touch .btn-wrapper a:first-of-type {
      margin-right: 21px; }

.video-wrapper {
  position: relative;
  padding-top: 41.25%; }

.video-wrapper iframe,
.video-wrapper object,
.video-wrapper embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
