body
  font-family: 'Nunito Sans', sans-serif
  color: $color-tundora

h1,
h2,
h3,
h4,
p,
a
  font-weight: $font-weight-regular
  margin: 0
  padding: 0
  color: $color-gray

h1
  font-size: 32px
  color: $color-tundora

h2
  font-size: 24px

h2.h2-bold
  font-weight: $font-weight-semi-bold
  font-size: 24px

h3
  font-size: 20px

p,
a
  font-size: 20px
  padding: 0

a
  text-decoration: none