body
  font-family: 'Open Sans', sans-serif
  color: $color-tundora

h1,
h2,
h3,
h4,
p,
a
  font-weight: $font-weight-regular
  margin: 0

p,
a
  font-size: 21px

p
  font-size: 22px  
  color: $color-dove-gray  
  padding: 0

.h2-gray
  font-size: 35px
  color: $color-dove-gray
  font-weight: $font-weight-semi-bold

h4.green-header
  font-size: 26px
  color: $color-blue-diane
  font-weight: $font-weight-bold
  margin: 0px