.text-center
  text-align: center

.section-alabaster
  background: $color-alabaster

.section-gallery
  background: $color-gallery

.section-mortar
  background: $color-mortar

.left
  float: left

.right
  float: right