$font-weight-regular      : 300
$font-weight-semi-bold    : 400
$font-weight-bold         : 600

$color-alabaster          : #F8F8F8
$color-alto               : #D8D8D8
$color-blue-diane         : #215446
$color-dove-gray          : #6C6C6C
$color-dusty-gray         : #9B9B9B
$color-gallery            : #ECEBEB
$color-mexican-red        : #A42A2A
$color-mortar             : #534254
$color-sunflower          : #E2C51C
$color-suva-gray          : #828182
$color-tundora            : #404040
$color-turbo              : #F3E200
$color-vida-loca          : #569215