.btn
  font-size: 22px
  text-decoration: none
  padding: 17px 44px
  display: inline-block

  &.green
    background: $color-blue-diane
    color: $color-alabaster

  &.purple
    background: $color-mortar
    color: $color-alabaster