nav.main-nav
  position: relative
  z-index: 99
  width: 100%
  padding: 32px 0px 43px 0px
  box-shadow: 0px 2px 4px 0px rgba($color-gallery, 0.5)
  background-color: $color-alto

.nav-inner
  max-width: 1280px
  margin: 0 auto
  padding: 0 37px

.name-of-site
  +media-xs-only
    margin-left: 15px

.name-of-site,
.nav-link-wrapper,
.nav-link
  display: inline-block

  .nav-name
    position: relative
    color: $color-tundora

  .title
    font-weight: $font-weight-regular

    +media-xs-only
      display: none

  .phonetics
    position: absolute
    top: 25px
    left: 50%
    transform: translateX(-100%)
    font-size: 14px
    padding-right: 10px

    +media-xs-only
      display: none

.navigation
  display: inline-block
  float: right

  // +media-xs-only
  //   position: absolute
  //   left: 0
  //   top: -11px
  //   width: 100%

.nav-link.mobile-nav-trigger
  +media-xs-only
    position: absolute
    z-index: 99
    right: 0
    top: -10px

.mobile-nav
  background-color: white
  height: 100vh

.link-container
  +media-xs-only
    display: none

.nav-link-wrapper
  display: inline-block
  float: right
  padding: 0
  margin: 0

.nav-link
  position: relative
  margin-left: 45px

  &.active
    border-bottom: 3px solid $color-gallery

.nav-link a
  text-decoration: none
  color: $color-tundora
  text-transform: capitalize

.dropdown-menu
  padding: 0
  background-color: $color-alto
  border: none
  border-radius: 0

  li
    padding: 15px 20px

    &:hover
      background-color: $color-alabaster

.home
  .dropdown-menu
    background-color: white