---
title: "Case-Study"
---

%section.case-study-hero{style: "background-image: url(#{image_path "case-study-hero.jpg"})"}

%section.case-study-header.section-alabaster
  .container
    %h3.h3-mortar
      Case study: 
      %span
        Commonwealthfelt.com

%section.case-study-about.container
  %h3.h3-mortar
    Overview
  %p.overview-paragraph.col-sm-10.col-sm-centered
    Commonwealthfelt.com is the retail site for the National Nonwovens textile manufacturing corporation.  Founded in 1905 as the National Felt Company, they have a long history of high quality felts and have been supplying material to the U.S. government since World War I.
    Being a manufacturer, National Nonwovens typically goes to market via sales representatives and wholesale companies. Today, like most American manufacturers, they are starting to target small volume consumers such as crafters and boutique businesses who specialize in handmade goods.  It is this desire to sell small volumes of product to a large number of consumers that created the Commonwealthfelt.com website

%section.user-personas.section-alabaster{style: "background-image: url(#{image_path "white-paper.png"})"}
  .container
    %h3.h3-mortar
      User Personas
    .personas-and-text.row
      .personas.col-md-4.col-md-offset-1
        .row.persona-link-wrapper
          %a{href: "http://maria-faulisi.github.io/portfolio/assets/images/user-bonnie.pdf", target: "blank"}
            =image_tag "bonnie-square.png", {class: "col-sm-6 persona-img"}
            .persona-type-and-arrow.primary.col-sm-6
              =image_tag "arrow-point-left.png"
              %h4 Primary Persona
        .row.persona-link-wrapper
          %a{href: "http://maria-faulisi.github.io/portfolio/assets/images/user-whitney.pdf", target: "blank"}
            .persona-type-and-arrow.secondary.col-sm-6            
              %h4 Secondary Persona
              =image_tag "arrow-point-right.png"
            =image_tag "whitney-square.png", {class: "col-sm-6 persona-img"}      

      .persona-text.col-md-5.col-md-offset-1
        %p
          Because this case study is a redesign, I started the UX design process by creating user personas.
        %p
          The user personas reflect two main types of customers most intereseted in buying felt online.  An older more experienced crafter who doesn't have access to quality material and a younger, more entrepreneurial user who is comfortable with tech.

%section.testing
  .container
    %h3.h3-mortar
      Testing
    .col-sm-5.col-sm-offset-1
      %p
        The test script was designed to simulate the tasks required in order to buy products for an actual felt pattern.  Test subjects were chosen based on thier similarities to the personas.
      
      %p
        Tests were recorded so I could concentrate on answering questions and maintaining the comfort level of the participants.  Recording also allowed me to fully concentrate on observing the actions and verbal cues later, without distraction, as well as being a reusable resource.

    %a{href: "http://maria-faulisi.github.io/portfolio/assets/images/testing-script.pdf", target: "blank", class: "script-img-wrapper col-sm-5"}
      =image_tag "test-script-img.png"
      .img-filter 
        %h2 View Testing Scripts        

%section.testing-video.section-gallery
  .video-wrapper.col-sm-8.col-sm-centered
    %iframe{allowfullscreen: "", frameborder: "0", src: "https://www.youtube.com/embed/f8y4pFl2EMs"}

%section.user-feedback.section-alabaster
  .container
    %h3.h3-mortar User Feedback
    .row.feedback-text-and-img
      .feedback-text.col-sm-5.col-sm-offset-1
        %p
          Despite the age and crafting experience differences, much of the user feedback was similar.  All three participants cited the following areas for improvement:

        %ul.user-feedback-list
          %li
            Navigation
          %li
            Product filtering
          %li
            Site readability
          %li 
            Increase content size and quality
          %li
            Increase number of projects and include more photos of them.

      %a{href: "http://maria-faulisi.github.io/portfolio/assets/images/Results.pdf", target: "blank", class: "feedback-img-wrapper col-sm-5"}
        =image_tag "feedback-img.png"
        .img-filter 
          %h2 View Feedback Doc      

%section.iteration.container
  %h3.h3-mortar Iteration
  .slider.col-sm-10.col-sm-centered
    #iteration-slider
      %ul
        %li
          =image_tag "slider/slide-1.jpg"
        %li
          =image_tag "slider/slide-2.jpg"
        %li
          =image_tag "slider/slide-3.jpg"          
        %li
          =image_tag "slider/slide-4.jpg"
        %li
          =image_tag "slider/slide-5.jpg"
        %li
          =image_tag "slider/slide-6.jpg"   

%section.wireframes.section-mortar
  .container
    %h3.h3-white Wireframes
    .row.wireframe-images.first-row
      .col-sm-2.col-sm-offset-2
        .trigger-div{"data-toggle": "modal","data-target": "#exampleModal", "data-image-src": "home.jpg"}
          =image_tag "home-wf-thumbnail.jpg"
    .row.wireframe-images.second-row
      .col-sm-2.col-sm-offset-2
        .trigger-div{"data-toggle": "modal","data-target": "#exampleModal", "data-image-src": "products-page.jpg"}
          =image_tag "products-page-wf-thumbnail.jpg"
      .col-sm-2
        .trigger-div{"data-toggle": "modal","data-target": "#exampleModal", "data-image-src": "projects-list-page.jpg"}
          =image_tag "projects-list-page-wf-thumbnail.jpg"
      .col-sm-2
        .trigger-div{"data-toggle": "modal","data-target": "#exampleModal", "data-image-src": "contact-page.jpg"}
          =image_tag "contact-page-wf-thumbnail.jpg"
      .col-sm-2
        .trigger-div{"data-toggle": "modal","data-target": "#exampleModal", "data-image-src": "review-cart-page.jpg"}
          =image_tag "review-cart-page-wf-thumbnail.jpg"

    .row.wireframe-images.third-row
      .col-sm-2.col-sm-offset-2
        .trigger-div{"data-toggle": "modal","data-target": "#exampleModal", "data-image-src": "swatch-page-1.jpg"}
          =image_tag "swatch-page-1-wf-thumbnail.jpg"
      .col-sm-2
        .trigger-div{"data-toggle": "modal","data-target": "#exampleModal", "data-image-src": "project-page-individual.jpg"}
          =image_tag "project-page-individual-wf-thumbnail.jpg"
      .col-sm-2.col-sm-offset-2
        .trigger-div{"data-toggle": "modal","data-target": "#exampleModal", "data-image-src": "shipping-and-billing-page.jpg"}
          =image_tag "shipping-and-billing-page-wf-thumbnail.jpg"
        .trigger-div{"data-toggle": "modal","data-target": "#exampleModal", "data-image-src": "payment-page.jpg"}
          =image_tag "payment-page-wf-thumbnail.jpg"

    .row.wireframe-images.fourth-row
      .col-sm-2.col-sm-offset-8
        .trigger-div{"data-toggle": "modal","data-target": "#exampleModal", "data-image-src": "order-confirmation-page.jpg"}
          =image_tag "order-confirmation-page-wf-thumbnail.jpg"

%section.see-wf-in-action.text-center
  %p
    See the wireframes in action!
  %a{href: "https://invis.io/B47A6AYS9#/158149018_Home", class: "btn purple", target: "blank"} Invision

#exampleModal.modal.fade{"aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
      .modal-body
        =image_tag "wf-full/home.jpg"
