.case-study-about.container
  %h2.case-study-header Case study: Commonwealthfelt.com
  %p
    Commonwealthfelt.com is the retail site for the National Nonwovens textile manufacturing corporation.  Founded in 1905 as the National Felt Company, they have a long history of high quality felts and have been supplying material to the U.S. government since World War I.  Being a manufacturer, National Nonwovens typically goes to market via sales representatives and wholesale companies. Today, like most American manufacturers, they are starting to target small volume consumers such as crafters and boutique businesses who specialize in handmade goods.  It is this desire to sell small volumes of product to a large number of consumers that created the Commonwealthfelt.com website

%h3 
  The Problem:
  %p
  