---
title: "collaborate-biz"
---

.container
  %section.project-details.col-lg-10.offset-lg-1
    .project-details-inner
      %h1 Collaborate.biz project
      %h3
        January 2017
        %span 
          Role: UX Designer
        %span
          Project timeframe: 3 weeks
  
  %section#timeline.timeline.row
    .timeline.col-lg-10.offset-lg-1
      %hr.timeline-hr
      .timeline-item
        .timeline-number
          0.0
        .timeline-header
          .timeline-header-text.uppercase
            =link_to "the brief", "#the-brief"
      .timeline-item
        .timeline-number
          1.0
        .timeline-header
          .timeline-header-text.uppercase
            =link_to "starting research", "#starting-research"
      .timeline-item
        .timeline-number
          1.1
        .timeline-header
          .timeline-header-text.uppercase
            =link_to "sme interviews", "#sme-interviews"
      .timeline-item
        .timeline-number
          1.2
        .timeline-header
          .timeline-header-text.uppercase
            =link_to "sme takeaways", "#sme-takeaways"
      .timeline-item
        .timeline-number
          1.3
        .timeline-header
          .timeline-header-text.uppercase
            =link_to "competitive landscape", "#competitive-landscape"
      .timeline-item
        .timeline-number
          1.4
        .timeline-header
          .timeline-header-text.uppercase
            =link_to "meeting the users", "#meeting-the-users"
      .timeline-item
        .timeline-number
          2.0
        .timeline-header
          .timeline-header-text.uppercase
            =link_to "the problem", "#the-problem"
      .timeline-item
        .timeline-number
          3.0
        .timeline-header
          .timeline-header-text.uppercase
            =link_to "ideation", "#ideation"
      .timeline-item
        .timeline-number
          4.0
        .timeline-header
          .timeline-header-text.uppercase
            =link_to "concept testing", "#concept-testing"
      .timeline-item
        .timeline-number
          5.0
        .timeline-header
          .timeline-header-text.uppercase
            =link_to "focus on referrals", "#focus-on-referrals"
      .timeline-item
        .timeline-number
          6.0
        .timeline-header
          .timeline-header-text.uppercase
            =link_to "no new ideas", "#no-new-ideas"
      .timeline-item
        .timeline-number
          7.0
        .timeline-header
          .timeline-header-text.uppercase
            =link_to "final design", "#final-design"
      .timeline-item
        .timeline-number
          8.0
        .timeline-header
          .timeline-header-text.uppercase
            =link_to "final thoughts", "#final-thoughts"
          
  %section#the-brief.first-section.the-brief.col-lg-10.offset-lg-1
    %h2.section-header.bold
      0.0
      %span.uppercase.light
        the brief
    .two-col-p
      %p
        When my teammates and I met with Collaborate.biz the client was very forthcoming. He had been working on his concept for 2 years and the vision had changed a few times. Collaborate.biz pairs small business owners with each other to gain access to new clients and larger projects. The current state of the MVP focused on gathering information crucial to a good B2B match. 
      %p
        The client wanted to set his product apart by providing quality matches based on a wider set of criteria. He needed to know what outcomes a user considered a good return on time invested, how he could foster continued and frequent engagement with the platform and whether or not users were interested in finding specific collaboration projects on the platform.
    .tldr
      %h2.h2-tldr
        tl;dr:
        %span.span-tldr
          Collaborate.biz is an online B2B business partnership matching platform.

%section#starting-research.starting-research.bg-gray.section
  .container
    .col-lg-10.offset-lg-1
      %h2.section-header.bold
        1.0
        %span.uppercase.light
          starting research
      %p
        Before delving into user research we looked at the current state of the project. In our initial assessment of Collaborate.biz we theorized that the onboarding might be too long.
      .image-and-caption.collab-start
        .img
          =image_tag "collaborate/collaborate-start.png"
          .caption
            The Collaborate.biz onboarding page on day one.
      %p
        It takes a lot of information to get a picture of how a business aligns with another, but a long scrolling list of text fields and inputs is off-putting. I was skeptical that users would take part without seeing examples of business matches. We assumed users would want to judge the quality of matches for themselves.

%section#sme-interviews.sme-interviews.container.section
  .col-lg-10.offset-lg-1
    %h2.section-header.bold
      1.1
      %span.uppercase.light
        sme interviews
    .image-and-text-row.row
      .text.col-lg-6
        %p
          The team and I kept these points in mind as we moved into the research phase of the project. We spoke with two SMEs, one is a director with the Chicago Small Business Administration, the other a VP of corporate development and innovation. 
        %p
          Our interview questions focused on the challenges small business owners face. We were interested in learning about the criteria they consider when seeking to collaborate with other businesses, identify pitfalls of collaboration, and discover how businesses currently form partnerships.
      .image-and-caption.col-lg-6
        .img
          =image_tag "collaborate/sme-interviews.png"
          .caption
            Creating the SME interview guide.

%section#sme-takeaways.sme-takeaways.bg-gray.section
  .container
    .col-lg-10.offset-lg-1
      %h2.section-header.bold
        1.2
        %span.uppercase.light
          sme takeaways
      .row.paragraph-and-bullets
        %p.col-lg-7
          For small business owners, reputation is everything. A bad collaboration can ruin what took years to build. A good collaboration is hard to assess making in-depth vetting the only way to mitigate possible risk to reputation.
          %br
          Owners must have faith in the people involved to represent each other. A good understanding of the other business’ working style, process and product is key.
        .bullets.col-lg-5
          %p We learned that small business owners are:
          %ul.bulleted-list
            %li Resourceful.
            %li Strapped for time.
            %li Interested in collaboration.
            %li Overwhelmed by risk.
      %p.quote.col-lg-9
        “It’s culture, their people, processes, product, customers, stakeholders.”

%section#competitive-landscape.collab-competitors.container.section
  .col-lg-10.offset-lg-1
    %h2.section-header.bold
      1.3
      %span.uppercase.light
        competitive landscape
    %p
      After our SME interviews we wondered about how time strapped businesses vetted others. It was time to analyze the competition and learn about current solutions. We looked at nine of the most prominent competitors, including a few the client identified as being successful. For the most part, the competitors sat on two ends, let’s call them a high and low end.

    .image-and-caption.col
      .img
        =image_tag "collaborate/competitor-matrix.jpg"
        .caption
          Competitor matrix.

    .competitor-ends.row
      .the-high-end.col-lg-6
        .end-header
          .head-inner
            =image_tag "collaborate/diamond-icon.svg"
            %h2 The high end
          %hr.hr-competitor
        .bulleted-list
          %ul
            %li High-end competitors offered face to face interactionbetween businesses.
            %li They mitigated the reputation risk by vetting in person and restricting membership.
            %li A few demanded financial information before membership.
            %li Cost upwards of $600 per month.
            %li They focused on the quality our client was looking to emulate.
      .the-low-end.col-lg-6
        .end-header
          .head-inner
            =image_tag "collaborate/cent-icon.svg"
            %h2 The low end
          %hr.hr-competitor
        .bulleted-list
          %ul
            %li Low-end competitors were remote digital solutions.
            %li They lacked vetting. Users sign up, enter basic account information and receive matches based on proximity.
            %li  No financial constraints.
            %li Sacrificed the quality of matches.
            %li Reduced the time required to network.

%section#meeting-the-users.collab-users.bg-gray.section
  .container
    .col-lg-10.offset-lg-1
      %h2.section-header.bold
        1.4
        %span.uppercase.light
          meeting the users
      .two-col-p
        %p
          We put together our interview guide and talked with four small business owners: a tax consultant, personal chef, leadership consultant and an insurance agent.
        %p
          The consultants were most concerned with vetting other businesses. They had high-value clientele that demanded a spotless reputation and could pay for it. Consultants were less concerned with finding clients than they were growing their businesses. They researched other businesses through personal connections and online investigations. The consultants were also active in their communities and had a strong desire to help other business owners develop.
        %p
          The personal chef and insurance agent had different goals from the consultants. They thought of collaboration as referrals and needed a lot of them to fill their pipeline. They focused on keeping their businesses viable. Vetting for these owners meant trust. Would a referred business contact their clients quickly and conduct themselves properly? They expected the other business to refer them as well. These businesses were willing to pay $50-$100 per month for a dependable networking platform and wanted warm leads.
      .tldr
        %h2.h2-tldr
          tl;dr:
          %span.span-tldr
            Users were split between strategy-minded and referral-minded views of collaboration.
      %p.pre-personas
        We created two personas. The first one is strategy-minded, the second one is referral-based. Our client had tweaked his concept before and was considering more changes. A clear picture of his users was crucial.
      .personas.row
        .persona.col-lg-6
          .name-and-type
            %h2.light.type
              Brett
              %span.semi-bold
                Strategy-minded personas
          =image_tag "collaborate/brett-img.jpg"
          .bullets.col
            .bullet-group
              %p.semi-bold Goals
              %ul.bulleted-list
                %li Scale business to match strategic vision
                %li Foster meaningful relationships to drive business growth
                %li Boost brand & reputation
            .bullet-group.frustrations
              %p.semi-bold Frustrations
              %ul.bulleted-list
                %li Connecting with the right people
                %li Lack of a trusted prescreened network that reflects his level of baseline qualifications
                %li Balancing the need for relationship building with other work obligations
        .persona.col-lg-6.pam
          .name-and-type
            %h2.light.type
              Pam
              %span.semi-bold
                Referral-minded personas
          =image_tag "collaborate/pam-img.jpg"
          .bullets.col
            .bullet-group
              %p.semi-bold Goals
              %ul.bulleted-list
                %li Find new clients to feed her pipeline
                %li Acess warm leads
                %li Main reputation with event venues, vendors, & suppliers
            .bullet-group.frustrations
              %p.semi-bold Frustrations
              %ul.bulleted-list
                %li Networking to source new clients to sustain business
                %li Turns away business requests beyond her capacity
                %li Time required to coordinate joint projects
                %li Time required to check that referrals have followed through on promises
        %p.brett-wants
          %span.semi-bold Brett wanted to protect his brand. 
          He cared about building deep, strategic relationships with high-caliber businesses. He felt comfortable developing his own collaboration ideas and pursuing them. He was looking for a way to outsource the initial in-person vetting. He wanted a source of matches with a good baseline quality. He is willing to sift through results and investigate a business further if interested.
        %p.pam-wants
          %span.semi-bold Pam wanted warm referrals to fill her pipeline. 
          She was less picky than Brett. She felt comfortable trusting the matches she received from Collaborate.biz. She wanted warm referrals and a way to track them. She would pay for a platform that managed referrals she received and referrals she gave out.

%section#the-problem.collab-problem.container.section
  .col-lg-10.offset-lg-1
    %h2.section-header.bold
      2.0
      %span.uppercase.light
        the problem
    .img
      =image_tag "collaborate/group-diagramming.jpg"
    %p
      We had two different user types with differing frustrations based on their goals and attitudes towards collaboration. Yet the overall areas of concern were the same. Both users were interested in connecting with the right people for their needs. They were both strapped for time and needed to connect with others efficiently. We developed our problem statement based on the similarities between them.  
    %p.semi-bold
      Digital networking platforms save time, but the connections are not high in quality. Bad collaborations can damage reputations, destroy brands and cripple the bottom line. Resource-strapped businesses need a way to vet partners so they can reach objectives.

%section#ideation.collab-ideation.bg-gray.section
  .container
    .col-lg-10.offset-lg-1
      %h2.section-header.bold
        3.0
        %span.uppercase.light
          ideation
      %p
        Moving into ideation we knew our solution would have to address the user’s differences. I personally love challenges like this. How would we create a single concept that helped both users in their quest for quality connections? We needed to keep our personas in mind as we developed a cohesive concept. If an idea could not be beneficial to both of the personas as well as the client, it was insufficient. 
      .image-and-text-row.row
        .image-and-bullets.col-lg-6
          .image-and-caption
            .img
              =image_tag "collaborate/whiteboard.jpg"
            .caption
              A list of some of the ideas we thought of implementing.
        .text.col-lg-6
          .paragraph-and-bullets
            %p
              Our client considered Collaborate.biz a cross between match.com and LinkedIn, so we wanted our solution to feel friendly and professional. We knew it had to:
            %ul.bulleted-list
              %li.semi-bold Increase information for vetting
              %li.semi-bold Increase communication between businesses
              %li.semi-bold Show the full picture of a match
      %p
        As we moved into ideation we had many ideas. 
        %span.semi-bold The strongest of the ideas we wanted to test
        included:

      .strong-ideas
        .row
          .strong-idea.col-lg-6
            =image_tag "collaborate/wallflower-icon.svg"
            %h3.h3-bold Featured wallflower
            %p
              %span.semi-bold A recent or dormant business who wasn't participating in the platform. 
              Meant to encourage active users to reach out. We were trying to address the client’s concern with 
              %span.semi-bold maintaining engagement with the platform.
              I thought the strategy-minded persona would enjoy helping a new member, and the referral-based persona would find value in becoming one of the first connections for a new member.
          .strong-idea.col-lg-6
            =image_tag "collaborate/dash-icon.svg"
            %h3.h3-bold Customizable dashboard
            %p
              We hypothesized that users want to adjust information on their homepage. Referral-based users want to view referral status information. Strategy-minded users want a list of new and noteworthy business matches. This concept gives the personas 
              %span.semi-bold 
                freedom to augment their experience and takes the pressure off of the client to produce parallel pages.
        .row.second-idea-set
          .strong-idea.col-lg-6
            =image_tag "collaborate/target-icon.svg"
            %h3.h3-bold Personality endorsements
            %p
              Like a LinkedIn skill endorsement. We wanted to give users 
              %span.semi-bold access to intangible personality traits that might impact collaboration.
              The client considered his concept similar to LinkedIn and I thought this concept mimicked a strength of that platform while making it unique to the requirements of Collaborate.biz.

          .strong-idea.col-lg-6
            =image_tag "collaborate/forum-icon.svg"
            %h3.h3-bold Question and Answer forum
            %p
              A question and answer space for users to interact with each other. This idea focused on the client’s need to 
              %span.semi-bold drive engagement.Also a way for to gain 
              %span.semi-bold insight into another business owner’s thought process.
              Answering questions demonstrates someone’s professionalism and can attract leads.

%section#concept-testing.collab-concept-testing.container.section
  .col-lg-10.offset-lg-1
    %h2.section-header.bold
      4.0
      %span.uppercase.light
        concept testing
    %p
      We developed three divergent concepts to test. Each concept incorporated some of the features we brainstormed. Our client supplied us with five small business owners to test from various industry backgrounds. The testers were shown each concept and asked to think aloud describing what tasks they could perform and how they felt about those tasks. Moderators controlled the flow users were shown to limit the focus to the concept and not the interaction.
    .concept-and-image-right.row
      .concept-text.col-lg-6
        %h2.semi-bold Concept 1
        %p
          %span.semi-bold Focused on basic interactions and creating a robust profile.
          We tested profile reviews and a collaboration project application feature. This concept focused heavily on the business profile which was aimed at our strategy-minded persona. I thought it displayed the information gathered during onboarding in a thoughtful and clear manner. It demonstrated the payoff for a user who invested the time to complete the onboarding process well.
      .image-and-caption.col-lg-6
        .img
          =image_tag "collaborate/concept-profile.jpg"
          .caption
            Concpet 1 profile page
    .concept-and-image-left.row
      .image-and-caption.col-lg-6
        .img
          =image_tag "collaborate/concept-dashboard.jpg"
          .caption
            Concept 2 dashboard
      .concept-text.col-lg-6
        %h2.semi-bold Concept 2
        %p
          %span.semi-bold Focused on collaboration projects and visualizing vetting information.
          We tested the featured wallflower, customizable dash and personality endorsements. This concept was more fleshed out than the first. Showing how the various platform features worked as a whole. It was presented in a simple card configuration which users appreciated.
    .concept-and-image-right.row
      .concept-text.col-lg-6
        %h2.semi-bold Concept 3
        %p
          %span.semi-bold Included the forum to drive user engagement and enhance the vetting process.
          We tested featured wallflower and featured business concepts. This concept was the most information heavy which emphasized vetting, but made the presentation a little cramped. A few testers felt it was visually overwhelming.
      .image-and-caption.col-lg-6
        .img
          =image_tag "collaborate/concept-forum.jpg"
          .caption
            Concept 3 forum page
    .collab-concept-takeaways
      .takeaway-header
        .head-inner
          =image_tag "shedwool/speech-bubble-alt.svg"
          %h2 Concept testing takeaways
        %hr
      %ol.numbered-list
        %li 
          Nearly all testers assumed business matches were for referrals. During our retrospective inquiry we asked the users about matches and collaboration. 
          %span.semi-bold They indicated a need to differentiate between a collaboration match and a referral match to make the desired action clear.
        %li 
          Don’t show project matches. 
          %span.semi-bold Users felt constrained by projects.
          One tester in particular stated that concrete projects felt less like opportunity and more like applying for a job. She wanted to know what type of help businesses are looking for so she could design her own approach to working with them.
        %li 
          %span.semi-bold Show types of collaboration criteria.
          Users indicated that they would have different criteria for different collaboration types. What they looked for in a referral-based relationship would be different from a strategic-based relationship. They need a way to distinguish between the two.
        %li 
          Reword the endorsements feature. Consider different ways of presenting this content. This feature was polarizing. Some testers loved it while others didn’t.
          %span.semi-bold The testers who didn’t felt it was too similar to LinkedIn.
        %li 
          Include a forum but be clear about its purpose. Business profile page should show posts. Ensure posts & questions presented to users are relevant to their industry. 
          %span.semi-bold Testers didn’t want to have to filter forum posts.
          They wanted the platform to present them with content they cared about.

%section#focus-on-referrals.collab-referrals.bg-gray.section
  .container
    .col-lg-10.offset-lg-1
      %h2.section-header.bold
        5.0
        %span.uppercase.light
          focus on referrals
      %p
        After synthesizing all of our insights we could start making recommendations. We looked at what each of the personas wanted. How were their wants similar and how were they divergent? What path could we develop to increase the user base and monetize it?
      .image-and-caption.col
        .img
          =image_tag "collaborate/venn-diagram.png"
        .caption
          Venn diagram showing user wants for collaborate.biz
      %p
        We presented the following recommendations for the MVP:

      .recommendations.row
        .recommendation.col-lg-6
          %h3.semi-bold 1. Exclusive Referrals
          %p
            Focus on an exclusive referral group which limits membership of similar businesses adds value.
        .recommendation.col-lg-6
          %h3.semi-bold 2. Quick Referral Share
          %p
            Time is money. Make sure it’s quick and easy to refer others. Fast referrals will keep users engaged with the platform.
      .recommendations.row
        .recommendation.col-lg-6
          %h3.semi-bold 3. Increased Profile Info
          %p
            Strategy-minded users do a lot of research. Keep them engaged by offering as much information as possible within Collaborate.biz.
        .recommendation.col-lg-6
          %h3.semi-bold 4. Two Match Types
          %p
            Users need to input match requirements for the two different collaboration types. Inputs and outputs may be different. Show which type a matched business falls under.
      %p
        %span.semi-bold During user interviews we discovered that users were looking for steady referrals.
        Members of competitors like BNI are the only member in the group to offer their product or service. That generates more and better leads.
      %p
        A personal chef would receive referrals from all others in their group for catering. It’s as close to a guaranteed number of referrals as one could get. Exclusivity coupled with warm leads and a tracking feature would attract users who would pay for such features. That income would help Collaborate.biz become platform it aspired to be.

%section#no-new-ideas.no-ideas.container.section
  .col-lg-10.offset-lg-1
    %h2.section-header.bold
      6.0
      %span.uppercase.light
        no new ideas
    %p
      Collaborate.biz was onboard. Our client was willing to walk down this path with us and see where it led. Then midway through finalizing our final concept, the client found refer.com.
    .image-and-caption.col
      .img
        =image_tag "collaborate/refer-screenshot.jpg"
        .caption
          Refer.com dashboard page.
    %p
      %span.semi-bold At first glance, refer.com was exactly what we planned on building.
      The product is clean, friendly and professional. It incorporates referral teams and reminders. Their Engage Pro subscription offers referral tracking, message builders and more. The price point is $49 per month. Right in line with the $50-$100 monthly price our users said they’d be willing to pay.
    %p
      We had less than a week left in our timeframe. We took a minute to gather our thoughts and reviewed refer.com to determine how it related to our recommendations for Collaborate.biz.
    %p
      %span.semi-bold While our MVP would be similar to refer.com we didn’t consider it a product ending threat because the referral component of the product was only half of the picture. We were focusing on referrals to fund the development of the collaboration platform.
      Our proposed MVP integrated a robust profile which strategy-minded users would be interested in. If the profiles were robust enough, strategic users could treat Collaborate.biz as the go to source for vetting information. Once that was established, the client could focus on researching and developing the collaboration components.

%section#final-concept.collab-final.bg-gray.section
  .container
    .col-lg-10.offset-lg-1
      %h2.section-header.bold
        7.0
        %span.uppercase.light
          final concept
      .final-concept-imgs.row
        .image-and-caption.col-md-6
          .img
            =image_tag "collaborate/final-homepage.jpg"
            .caption
              Final prototype homepage
        .image-and-caption.col-md-6.onboarding-img
          .img
            =image_tag "collaborate/final-onboarding.jpg"
            .caption
              Final prototype onboarding with navigation
      %p
        Our final design featured a landing page to better describe Collaborate.biz's purpose. Users wanted to see statistics on active users and points that highlight successes.
      %p
        We simplified on boarding giving detailed reasons for the information. After supplying the basic information users could continue without finishing. Dot navigation indicates how far a user is in the on boarding process.
      %p
        The referral process starts with an email to the referred business. After acceptance the end client receives an email introducing the referred business. The status of this flow is accessible from the referral log page.
      .final-gif.image-and-caption.col
        .img
          =image_tag "collaborate/final-prototype.gif"
          .caption
            Final prototype showing accepting and referring a business

%section#final-thoughts.collab-final-thoughts.container.section
  .col-lg-10.offset-lg-1
    %h2.section-header.bold
      8.0
      %span.uppercase.light
        final thoughts
    %p
      Having reviewed the feedback from users, analyzed the competitive landscape and listened to our recommendations, the client decided change direction. In the end, this project became a practice in validating or invalidating a current product state. 
    %p
      Looking back I learned a lot. I learned the importance of outlining the UX process in depth with clients in the first meeting. I learned the importance of conducting extra competitive analysis after ideating and how to work with a decisive client who has definite ideas about the product and how it should be positioned. 
    %p
      From a design standpoint, I learned how effective and time saving it is to work as a group to outline the large elements of a page. We can together to flesh out the overall placement and function of elements before diverging to get the prototype finished. I used this practice in my final project at DESIGNATION and it helped us acheive a cohesive end result.