---
title: "home"
---

.bg-video-wrapper
  %video{:autoplay => "1",:loop => "1", :width => "100%", :poster => "#{image_path('still-hero.jpg')}"}
    %source{:src => "#{image_path('../videos/whiteboard-v4.mp4')}", :type => 'video/mp4'}
      Your browser does not support the video tag.
  .video-text
    %p
      %span.hi Hi.
      I’m Maria. I wear comfy shoes because I’ve traveled far to get where I am today. I’ve been a super serious fine art student, an account manager in a fortune 500 company and a developer with a very real taco addiction. Now as a designer, I have a skillset that makes me indispensable.
    %p
      I love creating design that’s straightforward, minimal, and easy to use. If you prefer those too, reach out, we’ll grab some tacos.

    .cta-btn
      =link_to "Reach out", "/contact.html"