---
title: "Home"
---

.container
  %h2
    A brief introduction

  %p.intro-paragraph
    I'm 36, a scorpio and something of a taco aficionado.

    I know people...not Beyonce or Ellen DeGeneres, but people in general. I've worked heavily in client facing roles and I know how to question and communicate.

    I'm educated.  I studied fine arts at SAIC (You know, where Georgia O'Keefe studied.. though not while I was there) and I have a B.A. in Interactive Arts and Media from Columbia College Chicago.

    I can code.  I am expert at HTML, CSS, JQuery, JavaScript and I've worked with PHP, Ruby and databases.  But it's not what I'm passionate about.

    Designing how people interact with the fun stuff those languages create; that's what I lose track of time doing.  Problem solving and planning to delight.  

    Whelp, I don't know if it was brief, but it was an introduction.