---
title: "Home"
---

.container
  .project-details.offset-lg-1
    %h1 ShedWool project
    %h3
      February 2017
      %span 
        Role: UX Designer
      %span
        Project timeframe: 3 weeks

  .timeline
    .timeline-item
      .timeline-number
        0.0
      .timeline-header.uppercase
        project background
    .timeline-item
      .timeline-number
        1.0
      .timeline-header.uppercase
        starting research
