---
title: "Home"
---

%section.home-hero{style: "background-image: url(#{image_path "home-hero.jpg"})"}
  .container
    .home-hero-text
      %h1
        What does it mean to design 
        %span
          experience?

%section.hard-to-explain{style: "background-image: url(#{image_path "white-paper.png"})"}
  .container
    .hard-to-explain-inner.row
      .col-sm-collapse-3.col-sm-offset-1.personal-pic
        =image_tag "me-squared.png"
      .col-sm-6.col-sm-offset-1.quote-wrapper
        %p.my-quote
          It's hard to explain what a user experience designer does.  A well designed experience is intangible.  It's effortless and comfortable, familiar and engaging.  Wireframes, prototypes, and personas are the artifacts of the work, the feeling you walk away with is the product.

%section.good-ux-designer.section-alabaster
  .container
    %h2.h2-gray.text-center
      What makes a good UX designer?

    .row.designer-traits.col-sm-10.col-sm-centered.omega-sm-2.omega-md-2.omega-lg-2
      .col-sm-6.single-trait
        %h4.green-header
          Mindful
        %ul.trait-explaination-list
          %li.trait-explaination
            I notice things.  Big and small.
          %li.trait-explaination
            I know how to discover what each stakeholder needs (even if they don't know how to express it.)
          %li.trait-explaination
            I know the tech behind the product.

      .col-sm-6.single-trait.right-trait
        %h4.green-header
          Empathetic
        %ul.trait-explaination-list
          %li.trait-explaination
            I'm not designing for myself, I'm designing and advocating for the user
          %li.trait-explaination
            I ask questions and never reject the answers.
          %li.trait-explaination
            I'm open to the thoughts of others as well as happy accidents

      .col-sm-6.single-trait
        %h4.green-header
          Curious
        %ul.trait-explaination-list
          %li.trait-explaination
            I want to know why.
          %li.trait-explaination
            Why was that confusing?
          %li.trait-explaination
            What made it work?
          %li.trait-explaination
            Did my work make a measurable difference?

      .col-sm-6.single-trait.right-trait
        %h4.green-header
          Desire to Delight
        %ul.trait-explaination-list
          %li.trait-explaination
            Form follows function, but it can be unexpected too.
          %li.trait-explaination
            I want a user to feel something.
          %li.trait-explaination
            Put some love into it.

      .col-sm-6.col-sm-centered.single-trait.right-trait
        %h4.green-header
          Thrives on Complexity
        %ul.trait-explaination-list
          %li.trait-explaination
            Constraints inspire me.
          %li.trait-explaination
            Finding a solution that solves two seemingly different problems...bring it on!
          %li.trait-explaination
            Making the complex feel simple is a challenge I gladly accept.

%section.get-in-touch.text-center
  .container
    %h2.h2-gray
      Get in touch
    %p
      Reach out to me on LinkedIn or view my code samples on Github
    .btn-wrapper
      =link_to "LinkedIn", "https://www.linkedin.com/in/mariafaulisi", {target: "blank", class: "btn green"}
      =link_to "Github", "https://github.com/maria-faulisi/", {target: "blank", class: "btn green"}



